/*
 Theme Name:   Classiera Child
 Theme URI:    http://themeforest.net/item/classiera-classified-ads-wordpress-theme/14138208?ref=joinwebs
 Description:  Classiera Child Theme
 Author:       JoinWebs
 Author URI:   http://themeforest.net/user/joinwebs
 Template:     classiera
 Version:      3.0
 License:      Commercial
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         one-column, two-columns, left-sidebar, right-sidebar,fluid-layout,fixed-layout,responsive-layout, custom-menu, full-width-template, rtl-language-support, theme-options, translation-ready
 Text Domain:  classiera-child-theme
*/

/* write custom css */

@font-face {
    font-family: 'Poppins-ExtraLight';
    src:url('fonts/Poppins-ExtraLight.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Poppins-Regular';
    src:url('fonts/Poppins-Regular.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
 font-family: 'Poppins-Light';
     src:url('fonts/Poppins-Light.ttf') format('truetype');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'Poppins-Medium';
     src:url('fonts/Poppins-Medium.ttf') format('truetype');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'Poppins-Thin';
     src:url('fonts/Poppins-Thin.ttf') format('truetype');
font-weight:normal;
font-style:normal;
}

@font-face {
 font-family: 'Poppins-SemiBold';
     src:url('fonts/Poppins-SemiBold.ttf') format('truetype');
font-weight:normal;
font-style:normal;
}

.classiera-navbar .navbar-header .navbar-brand-custom img{filter: drop-shadow(0px 0px 7px #000);}
.contain-to-grid .top-bar{ max-width:1200px !important; }
.visible-xs{display: none !important;}
/************ User icon************/
a i.zmdi.zmdi-account{border:none !important;font-size:22px !important;display: none}
body header .classiera-navbar.classiera-navbar-v6 .navbar-default .login-reg a:first-of-type:hover i{background:none !important;}
i.zmdi.zmdi-account:before{content: '\f206';background: #fff; color: #000; padding: 6px 10px;  border-radius: 50%;}
.classiera-navbar.classiera-navbar-v6 .navbar-default .navbar-header {  margin-top: 12px !important;}
/*************Nav bar***************/
body header .classiera-navbar.classiera-navbar-v6, body.home header .classiera-navbar.classiera-navbar-v6{background-image:url(images/strocks.png) !important;background-position:left; background-size: 100% 100% !important;padding:17px 25px !important; box-shadow:0px 16px #2a2c2b, -1px 16px 9px 2px #000;height:75px;z-index: 99999;}
body header .classiera-navbar.classiera-navbar-v6 .navbar-default{background:transparent !important;}
.classiera-navbar.classiera-navbar-v6 .navbar-default .navbar-nav > li > a,.classiera-navbar.classiera-navbar-v6 .navbar-default .login-reg a/*:first-of-type*/{font-size:25px  !important; color: #fff }
.classiera-navbar.classiera-navbar-v6 .navbar-default .navbar-nav > li > a{line-height:20px  !important;}
.classiera-navbar.classiera-navbar-v6 .navbar-default .login-reg a/*:first-of-type*/{border:none !important;font-family:Poppins-ExtraLight;line-height: normal !important;}
#menu-main-menu li{padding:9px 0px;}
#menu-main-menu li a{border-right: 2px solid #d0d0d0;padding:0px 20px; font-family:Poppins-ExtraLight;text-transform: initial !important;}
.classiera-navbar.classiera-navbar-v6 .navbar-default .login-reg a:first-of-type {text-transform: initial !important;}
#menu-main-menu li.active a{font-family:Poppins-Regular;}
.map_discription{ text-align: center; box-shadow: -1px -2px 8px 2px #000; background: #2a2c2b !important;  z-index: 999;  position: absolute;  left: 0;  right: 0;bottom:-67px;}
.map_discription ul{display: inline-flex; margin: auto;list-style-type: none;  padding: 0px;} 
.map_discription ul img{height: 60px;  width: 60px;} 
.map_discription ul li{margin:10px 15px;font-size:22px;font-family:Poppins-Regular;}
.map_discription ul li:nth-child(2) span{color:#9fc54d;}
.map_discription ul li:nth-child(3) span{color:#ede02c;}
.map_discription ul li:nth-child(4) span{color:#a2232f;}
.map_discription ul li:nth-child(1) span{color:#0ca8e2;white-space: nowrap;}
header{padding-top: 81px !important;}
.search_icon{ position: absolute; z-index: 1; top: -40px;  right: -30px;}
.search-section {  padding: 40px 0;margin-top: 30px;}
.search-image{ display: inline-block; background: #323337; border-radius: 50%;  padding: 12px 9px 8px 12px;}
.search-image img{ height: 50px; width: 50px;}
#classiera_main_map.leaflet-container.leaflet-touch-drag.leaflet-touch-drag{ height: 380px!important;}
.classiera_map_div__price { padding: 10px !important; }
/*#classiera_main_map*/ .leaflet-popup-content-wrapper, .leaflet-popup-tip{background:#323337 !important;}
/*#classiera_main_map*/ .classiera_map_div__img{padding:0px !important;box-shadow: 0px 0px 15px 0px #000;}
/*#classiera_main_map*/.classiera_map_div__body{width:calc(100% - 160px);min-height:140px;}
.leaflet-popup-content p,.classiera_map_div__heading{height: auto; background: #2a2c2b; min-height: 40px;}
.classiera_map_div__heading{margin:0px;}
.leaflet-popup-content p.classiera_map_div__price{font-size:12px !important;}
.classiera_map_div__price,.classiera_map_div__heading{margin-bottom:5px !important;}
.classiera_map_div .classiera_map_div__cat,.classiera_map_div .classiera_map_div__heading{ line-height: 25px; font-family: Poppins-ExtraLight !important; font-size: 12px !important; padding: 10px;}
.leaflet-popup-content p.classiera_map_div__price span,p.classiera_map_div__price,.classiera_map_div__heading,.classiera_map_div__cat{color:#fff !important; padding: 0px 10px;}
.leaflet-popup-content p.classiera_map_div__price,.leaflet-popup-content p.classiera_map_div__price span{font-size:10px;font-family:Poppins-Regular;}
.map_search{position: absolute; top: 60px; z-index: 999; right: 45px;  width: 350px;}
.map_search #innerSearch{background: #323337 !important;}
.leaflet-popup-content p.classiera_map_div__price,.classiera_map_div__heading{position: relative;}
.leaflet-popup-content p.classiera_map_div__price:after,.classiera_map_div__heading:after{ position: absolute; content: '';  height: 1px; width: 100%; margin: 0 auto; left: 0; bottom: -3px; right: 0;  background: #525252;  }
.leaflet-container a.leaflet-popup-close-button{padding: 5px 0px 0 0 !important; width: 25px !important; height: 25px !important; z-index: 999;  border-radius: 50%;  background: #323337 !important;}	
#slider-range-home .ui-slider-range{background: linear-gradient(to right, #0fbe3b 45%,#fff 52%,#0FBE3C 64%) !important;border:0px !important;}
#slider-range-km .ui-slider-range{background: linear-gradient(to right, #006bff 45%,#fff 52%,#006bff 64%) !important;border:0px !important;}
#classiera_map  .ui-slider-handle span.Slider_Value{  position: absolute;   top: -26px;   left: -50%;   padding: 5px;    border: 1px solid #E6E6E6;    background-color: white;	height:20px;	min-width:18px;	line-height:9px;	border-radius:3px;   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);} 
#classiera_map  .ui-slider-handle:last-child span.Slider_Value{ left: -53px;}
#classiera_map form .search-form #innerSearch .inner-search-box{border:unset !important;padding-bottom:0px !important;height: 70px;}
/*#classiera_map form .search-form #innerSearch .inner-search-box:nth-child(3),*/#classiera_map form .search-form #innerSearch .inner-search-box:nth-child(4){ padding: 35px 45px 60px 28px !important; }
#classiera_map form .search-form #innerSearch .inner-search-box .inner-addon{margin-bottom:0px !important;}
#classiera_map form .search-form #innerSearch .inner-search-box{background:#2a2c2b;}
#classiera_map form .search-form #innerSearch .inner-search-box:nth-child(2) input,form .search-form #innerSearch .inner-search-box:nth-child(5) input{ background: #2a2c2b; color: #fff;  border-radius: 0px;  text-transform: none;  font-size: 16px !important;  width: 100%;  border: unset;   height: 70px;}
.ui-slider-horizontal {  height: 5px !important;}
.ui-slider .ui-slider-handle {  width: 12px !important; height: 12px !important;}
.ui-tooltip {   text-align: center;  box-shadow: none;  padding: 0;}
.ui-tooltip-content {  position: relative;padding: 0px;line-height:10px;}
 .ui-tooltip-content::before {  content: "";  position: absolute;  border-style: solid;  display: block;}
.bottom .ui-tooltip-content::before {  bottom: -18px;  border-color: #fff transparent;   border-width: 10px 10px 0;}
.inner-search-box.flex{display:flex;margin-bottom:0px !important;}
.inner-search-box.flex .inner-addon.right-addon{width:100%;}
.inner-search-box.flex button{width:150px;background:#646464;}
.inner-search-box.flex button:hover{background:#646464 !important;}
.top-buffer1{margin-top:10px;}
.top-buffer2{margin-top:20px;}
.top-buffer3{margin-top:30px;}
.top-buffer5{margin-top:50px;}
.inline-block{display:inline-block;width:100%;}
.addtoany_list a{padding:2px 4px !important;}
.inner-page-content .single-post{margin-top:30px;}
.inner-page-content .single-post .single-post-title > h4{text-align:center;padding-right:0px !important;}
.inner-page-content .single-post .single-post-title > h4 a{text-align:center;font-size:40px !important; font-family:Poppins-ExtraLight !important;text-transform: lowercase; border-bottom: 3px solid #525252;display: inline-block;  padding: 0px 70px;  padding-bottom: 25px;line-height:47px !important;}
.single-post-page .single-post .single-post-title .post-category i{padding-right: 12px !important;}
.inner-page-content .single-post .post-category {display:flex;margin-bottom:10px;}
.inner-page-content .single-post .post-category p{margin-bottom:0px;}
.inner-page-content .single-post .post-category p span{display: table-cell !important; vertical-align: middle;height: 90px;}
.single-post-page .single-post .single-post-title .post-category span{padding-left:15px !important;font-family:Poppins-Light;font-size:14px !important;}
.inner-page-content  .single-post .post-category i{width: 90px;height: 90px;background: #000;color: #fff;font-size: 60px;text-align: center;padding: 12px;display: table-cell;vertical-align: middle;	border-radius: 50%;}
.bg_gray{background:#e2e2e2;}
.flex{display:flex;}
.inline-flex{display:inline-flex;}
.single_title{background:#2a2c2b;}
.title_link a,.title_link a:hover{color:#fff !important;font-family:Poppins-Light !important;font-size:21px;}
.single_title h2{margin:0px;padding:5px 10px;color:#fff;font-family:Poppins-Light !important;text-align:center;font-size:21px;line-height: 30px;text-transform:capitalize;}
.single_description .flex input{border-radius: 10px;width:100px; border-bottom-right-radius: 0px !important; border-top-right-radius: 0px !important;width:100%;height:50px;background:#1b1d1e;color:#fff;font-family:Poppins-Regular;border:none;}
.single_description .flex button{border-radius: 10px;width:100px; border-bottom-left-radius: 0px !important; border-top-left-radius: 0px !important;font-family:Poppins-Regular;height:50px;border:none;font-size:16px;text-transform: lowercase;}
.single-post-page .single-post #single-post-carousel{padding:0px !important;border:none !important;}
.single-post-page .single-post #single-post-carousel .carousel-inner{background:unset !important;}
.hyst_social{text-align:center;margin:auto;}
.hyst_social .social_icon{    text-align: center;  display: inline-block;   padding: 20px 70px;  border-top: 3px solid #525252;  border-bottom: 3px solid #525252;  padding-bottom: 0px !important;}
#like_click i,#like_click1 i,.addtoany_list.a2a_kit_size_32 a>span{ height: 60px; width: 60px; display: table-cell; vertical-align: middle;  background: #000; border-radius: 50%; font-size: 35px;}
#like_click i,.addtoany_list.a2a_kit_size_32 a>span{color: #fff;}
.addtoany_list.a2a_kit_size_32 a>span{width:50px !important; height:50px !important;font-size:30px;border: 5px solid #2a2c2b;}
#like_click span, #like_click1 span,.share{text-align:center;font-size:21px;font-family:Poppins-Regular; padding: 8px 0px; display: inline-block;}
.single-post-page .single-post .single-post-title .post-category span b{font-family:Poppins-Medium;font-size:21px;}
.single_page_map{ bottom: -40px !important; box-shadow: 0px -4px 7px 0px #000 !important;}
.buttons_list{display:inline-block;}
.bg-none{background:none !important;} 
.font-16{font-size:16px;}
.decoration_none{text-decoration:none !important;}
.ecom_buttton button,.ecom_buttton .btnWatch a{ text-decoration:none !important; width: 200px;  font-size: 17px;  height: 50px;padding:0px;background:#1b1d1e !important;  margin-right: 3px;}
.ecom_buttton button.watch-later{text-align: left;}
.ecom_buttton button.watch-later i{margin-left: 20% !important;}
.ecom_buttton button i{ height: 40px;  width: 40px;  background: #434343;  color: #fff;  border-radius: 50%; font-size: 30px;  padding: 4px;float:left;margin-left:10px;}
.ecom_buttton button span,.ecom_buttton .btnWatch button{line-height:40px !important;border:0px !important;border-radius:4px !important}
.ecom_buttton .btnWatch a span, .ecom_buttton .btnWatch button{line-height:50px;color:#6c6c6c !important;text-transform:lowercase !important;}
.ecom_buttton button.watch-later i{line-height:20px;margin-right:6px !important;margin-left:5px;background-image:url(images/wl.png) !important; background-size:40px !important; background-repeat: no-repeat !important;}
.ecom_buttton button.watch-later i:before{display:none;}
.ecom_buttton .btnWatch a.fav{width:200px !important;border-radius:4px !important;  border-color: #eee #eee #ddd;}
.ecom_buttton .btnWatch a.fav i{    height: 45px; width: 45px; line-height: 45px;  background: #525252;  border-radius: 50%; margin: 2px; padding-top: 5px;float: left;}
.ecom_buttton .btnWatch a.fav i:before{color:#fff !important;    font-size: 29px; line-height: 0px; margin-left:7px;}
.la-line-spin-fade-rotating{position:absolute !important;right: -45px; margin-top: 7px;}
.inport_btn{position:relative;}
.favorite_add_sec .product-body{min-height:235px;}
.theme-btn{background: #000 !important; color: #959595 !important;  border-radius: 6px !important;  height: 50px;margin:auto !important;font-family:Poppins-Light !important;font-size:16px !important;text-transform:lowercase !important;}
#found_main_div label,#cust_display_all_location label{color: #525252; background: none !important; padding:10px 0px !important;  border: none !important; float: left;  min-width: 30px !important; width:auto !important;  padding-right: 10px !important;font-size:21px !important;font-family:Poppins-Light;margin-bottom: 6px;background-repeat:no-repeat !important;background-position:0px !important;background-size: 38px !important;}
#found_main_div span,#cust_display_all_location span{color:#525252; font-size: 21px !important;  font-family: Poppins-Light;  width: auto !important;  line-height: 21px !important; border-left: 0px solid;  padding-left: 10px;  margin-left: 0px !important;  margin-top: 15px; word-break: break-all;}
#found_main_div,#cust_display_all_location{padding:10px 15px 0;}
.title_link{position:relative;    box-shadow: 0px 9px 6px 0px #717171;margin-bottom:10px;}
.title_link img{position: absolute;right: 8px; top: 4px; height: 33px; width: 33px;}
/*#found_main_div a,#frm_confirm,#found_main_div span i,.edit-post{display:none !important;}*/
#frm_list .single_description, .list_table{ width: 360px; margin: auto;}
#frm_list .single_description .inner-addon{ margin-bottom: 10px;}
#frm_list .single_description .inner-addon select{height: 50px; background: #1b1d1e;  text-align: center !important;}
#frm_list .single_description .flex input{border-bottom-right-radius: 0px !important;border-top-right-radius: 0px !important;}
#frm_list .single_description .flex button{border-bottom-left-radius: 0px !important; border-top-left-radius: 0px !important;}
#frm_list .single_description .flex input, #frm_list .single_description .flex button{ border-radius:5px;}
#classiera_single_map #details_adv_map{height: 500px!important;}
.google_map{position:relative;margin-bottom:70px;}
.comment_sec{padding:0px !important;}
.comment_sec .user-comments{padding:0px !important;}
.comment_sec .comment-form{padding:15px !important;}
.comment_sec .comment-form .comment-form-heading,.comment_sec .comment-form #commentform p{display:none;}
.comment_sec .comment-form #commentform{ max-width: 800px; margin: auto;} 
.comment_sec .comment-form form .form-group label{font-size:25px !important;}
.comment_sec .comment-form form .form-group textarea{    border: 1px solid #2a2c2b !important;  background: none;padding:8px !important;font-size:16px;}
/*.comment_sec .comment-form form .form-group{margin-bottom:0px !important;}*/
.user-detail-section,.manage_list{text-align:center;}
.user-detail-section .media img,.author-first-row .media img, .manage_list .media img{margin:20px auto;width:200px;height:200px;}
.user-detail-section .author-info .media .media-body, .author-first-row .author-info .media .media-body, .manage_list.author-info .media .media-body{display:block;width:100%;}
.user-detail-section hr,.author-first-row hr, .author-second-row hr,.user_section hr, .manage_list hr{ margin: auto !important; border-top: 3px solid #525252;margin: 0px;}
.line1{ width: 60%;} 
.line2{ width: 300px;} 
.border0{border:0px !important;}
.user_name{font-size:40px;font-family:Poppins-ExtraLight !important;text-transform:lowercase;margin:20px 0px; line-height: 30px;} 
.user_name a{font-size:40px;font-family:Poppins-ExtraLight !important;text-transform:lowercase; line-height: 40px;} 
.join_dis p{font-family:Poppins-Light;font-size:16px !important;color:#525252 !important;} 
.user-title{font-family:Poppins-Light !important;font-size:16px !important;color:#525252 !important; font-weight: 500;margin:0px !important;padding:0px !important; margin-bottom:10px !important;} 
.user_section .user-detail-section .about-me p.border0{width:450px;margin:auto;text-align:justify;} 
.user_section .user-detail-section .about-me,.user_section .user-detail-section .user-contact-details,.user-pages .user-detail-section .user-social-profile-links{margin-bottom:0px !important;}
.user_section.user-pages .user-detail-section .user-social-profile-links{display:block;}
.contact_icon{  max-width: 400px; margin: auto;  text-align: left;} 
.contact_icon img{width:50px !important;height:50px !important;} 
.contact_icon a{font-family:Poppins-Light !important;font-size:16px !important;color:#525252 !important; font-weight: 500; word-wrap: break-word;}
.user_section.user-pages .user-detail-section .user-social-profile-links ul li a:hover,.user_section.user-pages .user-detail-section .user-social-profile-links ul li a,.user_section.author-box .author-social .author-social-icons li > a:hover,.user_section.author-box .author-social .author-social-icons li > a{background:none !important;height:auto;width:auto;}
.user_section.user-pages .user-detail-section .user-social-profile-links ul li a img, .user_section.author-box .author-social .author-social-icons li > a img{height:50px;width:50px;}
.user_section .single_title h2{ margin:0px !important; padding: 8px 10px !important; font-size:21px !important; font-family:Poppins-Light !important;} 
.user-detail-section .user-ads .media .product_image .media-object {width:100% !important;height:300px !important;}
.user-detail-section .user-ads .media .product_image{display:table-cell;height:300px;vertical-align:middle;} 
.product-body{text-align:left;  min-height: 180px;} 
.product-body .media-heading,.product-body .media-heading a{font-size:21px !important;color:#525252 !important;font-family:Poppins-Light !important;} 
.product-body p.justify{font-size:10px;font-family:Poppins-Light !important;line-height:13px !important;}
.justify{text-align:justify;}
.author-box .author-second-row{padding-top:0px !important;} 
.author-box .author-first-row{padding-bottom:0px !important;}
.about-me p{font-family:Poppins-Light;font-size:14px !important;text-align:justify;width:450px;margin:auto;} 
.author-box .author-contact-details .contact-detail-row .contact-detail-col{display:block !important;width:100% !important;margin-bottom:10px;} 
.author-contact-details.contact_icon{max-width:470px !important;}
.author-box .author-contact-details .contact-detail-row .contact-detail-col span i {  width: 50px !important;  padding: 8px 11px !important;   height: 50px;  background: #000;   color: #fff;border-radius: 50%; font-size: 35px;}
.user-content-height{background:#fff !important;  padding-top: 15px; padding-bottom: 15px;}
.user-content-height .section-bg-white, .user_section .bg-gray{background:#e2e2e2 !important;border-radius:15px;}
.user_section .p15{padding-top:15px;padding-bottom:15px;}
.pad0{padding:0px !important;}
.pad15{padding:15px 0px !important;}
.black{color:#000 !important;}
.author-box .classiera-box-div-v1 figure figcaption h5.media-heading{margin:0px !important;}
.author-box .author-box-bg{padding-top:0px !important;padding-bottom:0px !important;}
.single_title .total-post h2 span{font-size:21px !important;color:#fff !important;}
.inner-page-content .classiera-advertisement,.inner-page-content .classiera-advertisement .section-light-bg{background:none !important;}
.author-box .classiera-advertisement .classiera-box-div{ width: 70%; float: right;}
.author-box .classiera-advertisement .item-grid:nth-child(2n+2) .classiera-box-div{ width: 70%; float: left !important;}
.classiera-box-div-v1 .classiera-price-tag{position:initial !important;padding:0px !important;margin-bottom:10px;display:inline !important;    font-size: 21px !important;color: #525252 !important;  font-family: Poppins-Light !important; font-weight: unset !important;}
.classiera-box-div-v1 .classiera-price-tag .price-text{color:#525252 !important;}
.classiera-box-div-v1 figure figcaption{background:unset !important;}
.author-box .classiera-box-div-v1 figure figcaption p a, .author-box .classiera-box-div-v1 figure figcaption .user_details{display:none;}
.top-margin-60{margin-top:60px;}
.inner-page-content .search_page_item{ border-radius: 12px;  padding: 0px 15px;background:#e2e2e2 !important;}
.search_page_item .single_title{margin:0px -15px !important;}
.search_page_item .tab-content .col-lg-6.col-md-6.col-sm-6.match-height.item.item-grid{width:33.3333% !important;}
.search_page_item .classiera-box-div-v1 figure figcaption { background: #323337 !important;  color: #fff;}
.search_page_item .classiera-box-div-v1 figure figcaption h5,.search_page_item .classiera-box-div-v1 .classiera-price-tag,.search_page_item .classiera-box-div-v1 figure figcaption p{color: #fff !important;}
.search_page_item .classiera-box-div-v1 figure figcaption h5{margin-bottom:0px !important;}
.search_page_item .product-body .media-heading,.search_page_item .product-body .media-heading a{font-size:16px !important;color:#fff !important;}
.search_page_item .classiera-box-div-v1 figure figcaption{border-radius:15px; margin-top: -15px;border:0px !important;}
.search_page_item .product-body{padding:15px !important;}
.search_page_item .classiera-box-div-v1 figure:hover .premium-img .hover-posts,.classiera-box-div-v1 .classiera-price-tag:before, .classiera-box-div-v1 .classiera-price-tag:after{display:none;}
.search_page_item .classiera-box-div-v1 figure figcaption p{position:relative;padding:10px 0px !important;margin:10px 0px !important;}
.search_page_item .classiera-box-div-v1 figure figcaption p:after{    position: absolute;  content: " "; height: 1px;  width: auto; background: #525252; top: 0px; left: 0px;right:50px;}
.search_page_item .classiera-box-div-v1 figure figcaption p:before{    position: absolute;  content: " "; height: 1px;  width: auto; background: #525252; bottom: 0px; left: 0px; right:50px;}
.search_page_item .classiera-box-div-v1 figure figcaption p a img{width:10px;margin:0px 5px;}
.search_page_item .classiera-box-div-v1 figure figcaption .user_details,.search_page_item .classiera-box-div-v1 .classiera-price-tag{font-family:Poppins-ExtraLight !important;font-size:16px !important;color:#fff !important;}
.search_page_item .classiera-box-div-v1 figure figcaption .user_details{margin:10px 0px !important;height: 50px;}
.search_page_item .classiera-box-div-v1 figure figcaption .user_details img{width:50px;margin-right:10px;height: 50px;}
.search_page_item .classiera-box-div-v1 figure .premium-img{/*height:400px;display: table-cell; */  vertical-align: middle;border:0px;background:#fff;}
.search_page_item .classiera-box-div-v1 figure .premium-img img{height:auto;}
.footer-bottom h3, .list_table table th, .list_table table td ,.list_table table a{color:#fff;}
.footer-bottom h3{font-family: Poppins-Regular !important; margin-top: 0px; font-size: 14px; font-weight: normal; letter-spacing: .7px;}
.list_table{background:#1b1d1e;border-radius:5px;padding:15px;}
.list_table table a img{width:20px !important;height:20px !important;margin:auto !important;}
.list_table table{margin-bottom:0px !important;}
.list_table table th{font-family:Poppins-Regular;font-size:18px; text-transform:lowercase !important;border:none !important;}
.list_table table td,.list_table table a{font-family:Poppins-ExtraLight; font-size:16px;text-transform:lowercase !important;border-color:#525252 !important;}
.manage_list .list-unstyled li a:hover, .manage_list .list-unstyled li a:hover i{background:none !important;color:#525252 !important;}
.feature_image{position:absolute; z-index: 1; right: 0; top: 70px; display:none;}
.feature_image img{width:75px; filter: drop-shadow(-5px 1px 8px #000);}
.search_page_item .feature_image{display:block;}
#sideBarAffix{padding:15px !important;}
#sideBarAffix .bg-gray{border-radius:15px;background:#e2e2e2 !important;}
#sideBarAffix .media img{margin:auto; height: 90px; width: 90px;}
.intrest_sec{width:100% !important;}
.intrest_sec .ui-state-default{height: auto !important;  width: 100% !important;  padding: 0px; background: none !important;}
.intrest_sec .ui-state-default textarea{margin:0px;height:110px !important;}
.contact-us form .form-group .help-block > ul > li { color: #a94442;margin: 20px;}
#link_notification img{width: 40px;position:relative;}
#link_notification {border-left:2px solid #fff !important;padding: 0 12px !important;}
#navbarCollapse .zmdi.zmdi-account{margin-right:5px;display:inline-block !important;}
.top-pad-40{padding-top:30px !important;}
.bottom-pad-30{padding-bottom:20px !important;}
.block-display{display:block !important;}
.not-window{z-index:99999 !important;}
#getLocation{position:absolute;right:0px;top:5px;}
#getLocation i{color:#fff;}
.login-register .apsl-login-networks.theme-4 .apsl-icon-block{display:block;font-size: 30px;font-family:Poppins-Thin;padding:1px !important; text-align: left;background:#2a2c2b !important;box-shadow: 0px 0px 12px 1px #000;}
.login-register .apsl-login-networks.theme-4 .apsl-icon-block i{height:60px !important;width:60px !important;border-radius:4px !important;padding:0px !important;text-align: center;}
.login-register .apsl-login-networks.theme-4 .apsl-icon-block span{line-height: 56px;text-shadow: 4px 1px 4px #000;} 
.login-register .apsl-login-networks.theme-4 .apsl-icon-block i:before{ line-height: 60px;font-size: 35px;}
.login-register .apsl-login-networks.theme-4 .apsl-icon-block.icon-facebook i{background:#48629b none repeat scroll 0 0;} 
.login-register .apsl-login-networks.theme-4 .apsl-icon-block.icon-twitter i{background:#23b0e6 none repeat scroll 0 0;}
.login-register .apsl-login-networks.theme-4 .apsl-icon-block.icon-google i{background:#dc4b38 none repeat scroll 0 0;}
.login-register .apsl-login-networks.theme-4 .apsl-icon-block.icon-facebook span{color:#48629b !important;}
.login-register .apsl-login-networks.theme-4 .apsl-icon-block.icon-twitter span{color:#23b0e6 !important;}
.login-register .apsl-login-networks.theme-4 .apsl-icon-block.icon-google span{color:#dc4b38 !important;}
.login-register .apsl-login-networks.theme-4 .social-networks{max-width: 500px;margin:auto;}
.hide{display:none;}
.inner-page-content .login-register .social-login{margin-bottom:0px !important;}
.inner-page-content .login-register form .form-group .inner-addon{width:60% !important;margin:auto; box-shadow: 0px 0px 1px 5px #2a2c2b;background: #2a2c2b;}
.inner-page-content .login-register form .form-group .form-control{padding-left: 15px !important;color:#fff !important;text-align:center;   box-shadow: inset 0px 0px 140px #000;background-color: #fff !important;font-size:20px !important;font-family:Poppins-Thin !important;border-radius:8px !important;}
input:-webkit-autofill{background:none !important;color:#fff !important;}
.create_account p img{height:60px;width:60px;}
.create_account p a,.create_account p a:hover{font-size:22px !important;color:#fff !important;}
.login-register .bg-gray{background:#434343;padding:20px !important;border-radius: 20px;}
.border-round{border:2px solid #fff;border-radius: 20px;padding:80px 0px;}
.footer-bottom ul{text-align:center !important; max-width: 400px;margin: 15px auto !important; margin-bottom: 0px !important;}
.footer-bottom ul li{margin:0px 10px !important; float:unset !important;display:contents !important;}
.footer-bottom ul li:nth-last-child(2),.footer-bottom ul li:last-child,.footer-bottom ul{position:relative;display:block !important}
.footer-bottom ul li:nth-last-child(2):after, .footer-bottom ul:after{ position: absolute;  content: '';  width: auto; height: 2px; background: #525252; left: 95px; right: 95px;  top: -5px;}
.footer-bottom ul li:last-child:after{ position: absolute;  content: '';  width: auto; height: 2px; background: #525252; left: 95px; right: 95px;  bottom: -5px;}
.footer-bottom ul li a{font-family:Poppins-Light;font-size:16px;}
.footer-bottom ul li a i.fa.fa-{display:none;}
.footer-bottom ul li a i{height:40px;width:40px;}
.footer-bottom ul li a i.fa.fa-facebook{background-image:url(images/social_icon/fb.png);background-repeat:no-repeat;background-size:40px;}
.footer-bottom ul li a i.fa.fa-twitter{background-image:url(images/social_icon/tw.png);background-repeat:no-repeat;background-size:40px;}
.footer-bottom ul li a i.fa.fa-pinterest{background-image:url(images/social_icon/pin.png);background-repeat:no-repeat;background-size:40px;}
.footer-bottom ul li a i.fa.fa-instagram{background-image:url(images/social_icon/insta.png);background-repeat:no-repeat;background-size:40px;}
.footer-bottom ul li a i{right:auto !important;}
body .footer-bottom{background-image:url(images/strocks.png) !important;background-size:100% 100% !important;background-position:left; box-shadow: 0px -16px #2a2c2b, 1px -16px 9px 2px #000; margin-top: 20px;  padding: 15px 0px !important;}
.single_description .flex p.text { border-radius: 10px; width: 100%; height: 50px; background: #1b1d1e; color: #fff; font-family: Poppins-Regular; border: none; padding:15px 10px; }
.home .search-section .container, .footer-bottom ul li a i:before{display:none;}
.search-form{ visibility: hidden; opacity: 0;  transition: opacity 600ms, visibility 600ms;}
.slide_arrow a img{width:22px;height:22px;} 
.blog_section .slide_arrow a,.blog_section .slide_arrow a:hover{background:none !important;border:0px !important;}
.blog_section figcaption h5 a,.blog_section figcaption h5,.blog_section figcaption h5 span{ font-size: 21px !important;  color: #525252 !important; font-family: Poppins-Light !important;    margin-top: 0px !important;margin-bottom: 5px !important;background:none !important;}
.blog_section figcaption p.justify{font-size: 10px;  font-family: Poppins-Light !important;line-height: 13px !important;padding:0px !important;}
.blog_section figcaption {min-height: 180px;}
.blog_section .feature_image{display:block;top:60px;}
.blog_section .feature_image img{width:80px !important;}
.uploadImage p{color:#525252 !important;width:100%;} 
.poppins-lite{font-family:Poppins-Light;} 
.mb0, .product-details p{margin-bottom:0px !important;}   
.edit_pages input[type="text"],.edit_section input[type="text"],.contect_page input[type="text"],.edit_pages input[type="tel"],.edit_pages input[type="email"],.contect_page input[type="email"],.edit_section input[type="email"],.edit_pages input[type="password"],.contect_page input[type="password"],.edit_section input[type="password"],.edit_pages input[type="url"],.edit_pages textarea, .edit_section textarea,.contect_page textarea, .edit_section select, .add_branch-btn,.file_label, .import_form .btn{background:#1e2021 !important;color:#fff !important;    border-radius: 6px !important;height: 50px; width: 100%;} 
.edit_pages .inner-addon{margin-bottom:10px !important;}
::-webkit-input-placeholder{text-transform:lowercase !important;}
::-moz-placeholder{text-transform:lowercase !important;}
:-ms-input-placeholder{text-transform:lowercase !important;}
input:-moz-placeholder{text-transform:lowercase !important;}
.uppercase{text-transform:uppercase !important;}
.file_label, .import_form .btn{line-height: 50px;text-transform:lowercase !important;color:#959595 !important;}
.visiblity_hidden{visibility:hidden;display:none !important;}
.rtl{direction: rtl;}
.add_branch-btn{height: 50px !important; display:block !important;width:100% !important;}
.add_branch-btn span{line-height:35px;} 
.edit_pages.user-pages .user-detail-section .user-profile-settings form > p {margin-bottom:0px !important;padding-bottom:0px !important;text-transform:lowercase !important;}
.edit_pages .update_btn{width:100%;height: 45px !important;  border-radius: 6px !important;text-transform:lowercase !important;font-size: 16px !important;font-family:Poppins-Regular !important;text-transform:lowercase !important;}  
.contect_page input[type="text"], .contect_page input[type="email"],.contect_page input[type="passsword"]{padding-left:15px !important;}
 button.bg-black{background:#1e2021 !important;color:#9a9a9a !important;border-radius:5px !important;height:50px !important;font-family:Poppins-Light !important; font-size:16px !important;border:0px;}
/*.list_icon li{width:33.33% !important;border:1px solid #ababab;padding:0px !important; margin: 0px 5px;} */
.list_icon li{width:12% ;border:1px solid #ababab;padding:0px !important; margin: 0px 5px;}
.list_icon li a{/*text-align:left !important;*/color:#525252;} 
.list_icon li i{height: 30px; width: 30px;  background: #000; color: #fff !important; display: table-cell; text-align: center; vertical-align: middle; border-radius: 50%;}
.list_icon li span{height: 30px; display: table-cell; vertical-align: middle; text-align: center; /*padding-left: 5px;*/}
.inner-toggle{display:none;}
.inner-toggle.show{display:block;}
.texatrea_bg{background:#1e2021 !important;padding:10px 20px 10px 20px !important;border-radius:5px;}
.texatrea_bg textarea{border:1px solid #525252; border-radius: 3px !important;  margin: 12px 0px !important; margin-bottom: 5px !important;} 
.intrest .ui-autocomplete-multiselect.ui-state-default{width:100% !important;height:auto !important;background:none !important;padding:0px !important;}  
.intrest .ui-autocomplete-multiselect.ui-state-default textarea{}
.intrest.wrapper{width:auto !important;} 
.user-pages .user-detail-section .user-profile-settings form .form-group .inner-addon textarea{height:110px !important;}   
.list_icon1 li{min-height:92px; height: 100%; padding:2px !important; margin: 5px !important;float:unset !important;display: inline-block; vertical-align: top;} 
.list_icon1 li a{ padding: 13px 17px !important;line-height:18px !important;}  
.height-50{height:50px;}
p.image_title{font-family:Poppins-Light;font-size:20px !important;color:#525252 !important;}
.input-img{position:absolute;right:25px;top:10px;} 
body .edit_section .address_search{ left: auto !important; top: 10px !important; right: 10px;width:45px !important;transition: 0.24s;background:#fff !important;background-image:url(images/search_box.png) !important;background-repeat:no-repeat !important;background-position: 10px !important; background-size: 26px !important;    padding: 10px 22px !important;}
body .edit_section .address_search:hover{width:300px !important;transition: 0.24s;background:#1e2021 !important;background-image:unset !important; padding: 10px !important;}
.buttons { display: flex;}  
.buttons button{ padding: 4px 10px;  border-radius: 5px;  background: #212324; color:#727272; border: none;  width: 100%; margin: 5px}  
.buttons img{ margin-right: 5px;}
.bg-image{background:none !important;border:0px !important; color:#fff !important; font-family:Poppins-Light !important;font-size:16px !important;} 
input[name="brn_confirm"]{    background-image: url(images/confirm_button.png)!important;  background-repeat: no-repeat !important;  background-size: 100% 100%;  width: 130px;  height: 40px; line-height: 0px; font-size: 0px; border: 0px; background-color: #fff;border-radius: 6px;}
input[name="brn_not_confirm"]{    background-image: url(images/deny_button.png)!important;  background-repeat: no-repeat !important;  background-size: 100% 100%;  width: 130px;  height: 40px; line-height: 0px; font-size: 0px; border: 0px; background-color: #fff;  border-radius: 6px;}
#found_main_div #frm_confirm,#cust_display_all_location #frm_confirm{float:right !important;width:auto !important;margin-right:10px !important;margin-left:10px !important;}
#search_form{display:inline-block;padding:15px;background:#323337;border-radius: 15px;}
#search_form input{background: #2a2c2b; color: #fff;  border-radius: 0px; text-transform: none;  font-size: 13px; width: 100%; border: unset; height: 70px;margin:0px !important;font-family:Poppins-ExtraLight;font-size:14px;text-transform:lowercase;}
#search_form button{ margin-top: 0px !important; height: 50px; background: #646464; border-radius: 6px; width: 100%;border: 0px;color:#fff;}
#search_form hr{border: 1px solid #646464; margin: 5px 0px !important;}
.margin0{margin:0px !important;}
#sideBarAffix .user_name{ font-size: 20px; line-height: 20px; margin: 6px 0px;}
#sideBarAffix .line2{width:40% !important;}
#sideBarAffix ul li a span{font-family:Poppins-Light !important; font-size: 14px !important; text-transform: lowercase;}
#sideBarAffix ul li a span img{margin-right:5px;}
#sideBarAffix p.sidebar_title{font-family:Poppins-Light !important; font-size: 16px !important; text-transform: lowercase;}
#sideBarAffix p{color: #525252 !important;} 
#sideBarAffix p.justify{ padding: 0px 10px;} 
#sideBarAffix hr{margin:auto !important;}
.read_more{width:12px !important;height:12px !important;}
.unset-transform{text-transform:unset !important;}
#sideBarAffix ul{text-align:left;}
.border-section .user-comments .media-left{display:block !important;margin-top:20px;margin-bottom:15px;}
.border-section .user-comments .media-body{display:block !important;width:80% !important;margin:auto;background:#323337 !important;color:#fff; border-radius: 15px;}
.border-section .user-comments .media .media-object{width:150px !important;margin:auto;  height: 150px !important;border-radius: 50% !important;padding:0px !important;} 
.border-section .user-comments .media-body .media-heading a{    width: 100%;  display: inline-block;  text-align: center;color:#fff !important;  font-size: 40px; font-family: Poppins-ExtraLight !important;  text-transform: lowercase;  margin: 20px 0px;  line-height: 30px;position:relative;}
.border-section .user-comments .media-body .media-heading a:before{position:absolute;content:"";height:2px;width:auto;right:20%;left:20%;background:#525252;top: -20px;}
.border-section .user-comments .media-body .media-heading a:after, .border-section .user-comments .media .media-body .media-heading .time:after, .border-section .user-comments .media .media-body p:after{position:absolute;content:"";height:2px;width:auto;right:20%;left:20%;background:#525252;bottom: -20px;}
.border-section .user-comments .media .media-body .media-heading .time{  float: unset !important;  text-align: center;  width: 100%; display: block;font-family:Poppins-Light;font-size:20px;color:#fff !important;position:relative;  margin-bottom: 20px;}
.border-section .user-comments .media .media-body p{ margin: 35px 15px;  border: 2px solid #525252;  padding: 10px;  border-radius: 4px;position:relative;text-align:justify;}
.border-section .user-comments .media .media-body .media-heading .time:after,.border-section .user-comments .media .media-body p:after{right:35%;left:35%;}
.border-section .user-comments .media .media-body h5.text-right.flip,.border-section .user-comments .media .media-body .media-heading .normal, .company_register_form .form-group label{display:none;}
.border-section .odd{ margin-left:0px !important;}
.company_register_form{width:83.33333%;margin:auto;position:relative;}
.company_register_form .login-form:before{position:absolute;content:"";height:2px;width:auto;right:10%;left:10%;background:#525252;bottom:3px;}
.company_register_form:before{position:absolute;content:"";height:2px;width:auto;right:11.5%;left:11.5%;background:#525252;bottom:-3px;}
.company_register_form .login-form{ display: inline-block; width: 100%;position:relative;}
.company_register_form .form-group{width:50%;float:left;padding:0px 15px;}
.company_register_form .btn{margin:0px 15px;width:50% !important;font-family:Poppins-Regular !important;text-transform:lowercase !important; font-size:16px; font-weight:500;color:#6c6c6c;margin:auto !important;}
.edit_pages .single_title h1.user_name{line-height: 40px; color: #fff; padding: 15px;}
.progress{background:#282828 !important;}
.progress,.progress .progress-bar, .progress-bar{border-radius:20px !important;height: 25px !important;  line-height: 25px !important;} 
.progress-bar-gradiant{background-color:#16DF39 !important; background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important; background-size: 9px 10px !important;}
.ui-widget-header,#ui-datepicker-div{  border: 1px solid #adadad !important;background: #adadad !important;}
.intrest_sec .ui-autocomplete-multiselect{padding:0px !important;background: #1e2021 !important;border-radius:5px !important;min-height:110px !important;}
.intrest_sec .ui-autocomplete-multiselect .ui-autocomplete-multiselect-item{float: left; margin: 3px 5px;}
.intrest_sec .ui-autocomplete-multiselect textarea{border:0px !important;box-shadow: unset !important;min-height:50px !important;height:auto !important;}
.intrest_sec .ui-autocomplete-multiselect .ui-icon{background-image: url(https://hyst2.temp.co.za/wp-content/themes/classiera/css/multiselectautocomplete/ui-lightness/images/ui-icons_222222_256x240.png) !important;right: -4px;}
#ui-datepicker-div { border: 2px solid #525252 !important;padding:0px;}
#ui-datepicker-div .ui-widget-header{padding: 10px 0 !important;}
#ui-datepicker-div .ui-widget-header a:hover{border:0px !important;background:none !important;}
#ui-datepicker-div .ui-widget-header .ui-datepicker-prev span{ margin: 0px !important;top: 5px;  left: 5px;background:none !important;position:relative; width: 25px; height: 25px;}
#ui-datepicker-div .ui-widget-header .ui-datepicker-next span{ margin: 0px !important;top: 5px;  right: 5px;background:none !important;position:relative; height: 25px;}
#ui-datepicker-div .ui-widget-header .ui-datepicker-prev span:before { content: ''; position: absolute; top: 5px; left: 0px; border-right: 10px solid #fff; border-top: 8px solid transparent; border-bottom: 8px solid transparent;}
#ui-datepicker-div .ui-datepicker-calendar tbody tr a.ui-state-hover{background:#636363 !important;color:#fff !important;}
#ui-datepicker-div .ui-widget-header .ui-datepicker-next span:after{ content: ''; position: absolute; top: 5px; right: 6px; border-left: 10px solid #fff; border-top: 8px solid transparent; border-bottom: 8px solid transparent;}
#ui-datepicker-div .ui-datepicker table{width: calc(100% - 15px) !important;margin:uato !important;}
#ui-datepicker-div .ui-datepicker-calendar tr{background:#adadad !important;}
#ui-datepicker-div .ui-datepicker-calendar thead tr th{color:#525252 !important; padding: 0px;} 
#ui-datepicker-div .ui-datepicker-calendar tbody tr{border-bottom:2px solid #525252; background: #e2e2e2 !important;} 
#ui-datepicker-div .ui-datepicker-calendar tbody tr:first-child{border-top:2px solid #525252;}
#ui-datepicker-div .ui-datepicker-calendar tbody tr span{text-align: center;} 
#ui-datepicker-div .ui-state-default,#ui-datepicker-div .ui-widget-content .ui-state-default{border:0px !important; background:transparent !important;  font-weight: normal !important; color: #454545 !important; width: auto !important;  height: 20px !important;  top: 0px !important; text-align: center; line-height: 15px;} 
.ui-datepicker .ui-datepicker-title{position:relative;color:#525252 !important;font-family:Poppins-SemiBold;} 
.ui-datepicker .ui-datepicker-title:before{content:'';position: absolute;height:1px;width:auto;right:30px;left:30px;background:#525252;top:0px;}
.ui-datepicker .ui-datepicker-title:after{content:'';position: absolute;height:1px;width:auto;right:30px;left:30px;background:#525252;bottom:0px;}
.all_usertemplate #sideBarAffix p, .all_usertemplate #sideBarAffix span, .all_usertemplate #sideBarAffix .line2,.all_usertemplate #sideBarAffix .temp, .all_usertemplate #sideBarAffix ul li span.hide{display:none !important;} 
.all_usertemplate #sideBarAffix .user_name {font-size: 50px; line-height: 50px;}
.all_usertemplate #sideBarAffix hr {border-top: 3px solid #ccc !important}
.all_usertemplate #sideBarAffix ul li span{display:block !important;}
.all_usertemplate #sideBarAffix ul{display:inline-block !important;}
.all_usertemplate #sideBarAffix .temp_class{text-align:center;background:#000 !important;line-height:0px;}
.all_usertemplate #sideBarAffix ul li img{ margin-right: 5px !important;}
/*****************************other user profile************************************/ 
.line3{max-width:300px;} 
.other_user_page .details_section{width:60%;margin:auto;}
.other_user_page .details_section .line1,.other_user_page .details_section .line2{ width: 100%;} 
.other_user_page .details_section .interests{display:block !important;}
.other_user_page .details_section p{width:100% !important;text-align: justify; text-align-last: center;} 
.other_user_page .our_branch a{text-align:left;display:flex;margin-bottom:10px;}
.other_user_page .our_branch p{margin:0px;}
.other_user_page .our_branch p span{height:85px;display:table-cell;vertical-align:middle;padding-left:5px;font-family:Poppins-Light;color:#525252;}
/*****************************other user profile************************************/ 
.img-round{border-radius:50%;} 
.not-window {position: fixed !important;background:#323337 !important;border-radius:5px !important;border:0px !important;color:#ff0000;box-shadow:0px 3px 15px 2px #000 !important;top:100px !important;}
.not-window .not-wrap a{display:flex;}
.not-window .not-wrap a p:first-child{ margin: 0px 10px 0px 0px;}
.not-window .not-wrap a p:last-child{display: inline-grid; width: 100%;font-family:Poppins-Light;font-size:14px;}
.not-window .not-item{font-family:Poppins-Light;font-size:14px;}
.not-window .not-wrap a p span.date,.not-window .not-wrap a p span.time{position:relative;} 
.not-window .not-wrap a p span.date:before{position:absolute;content:'';height:1px;width:50%;left:0px;top:0px;background:#525252;} 
.not-window .not-wrap a p span.time:before{position:absolute;content:'';height:1px;width:50%;left:0px;bottom:0px;background:#525252;}  
.ui-autocomplete .ui-menu-item::before{    left: 5px !important;}
.ui-menu .ui-menu-item a{    padding: 2px 1.4em !important;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #525252 !important;  background: #d0d0d0 !important;  font-weight: bold;color: #000000 !important;} 
#ui-id-1{max-height:300px !important;overflow-y:scroll;}  
.la-line-spin-fade-rotating,
.la-line-spin-fade-rotating > div {
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.la-line-spin-fade-rotating {
    display: block;
    font-size: 0;
    color: #000;
}
.la-line-spin-fade-rotating.la-dark {
    color: #16DF39;
}
.la-line-spin-fade-rotating > div {
    display: inline-block;
    float: none;
    background-color: #16DF39;
    border: 0 solid #16DF39;
}
.la-line-spin-fade-rotating {
    width: 32px;
    height: 32px;
    -webkit-animation: ball-spin-fade-rotating-rotate 6s infinite linear;
       -moz-animation: ball-spin-fade-rotating-rotate 6s infinite linear;
         -o-animation: ball-spin-fade-rotating-rotate 6s infinite linear;
            animation: ball-spin-fade-rotating-rotate 6s infinite linear;
}
.la-line-spin-fade-rotating > div {
    position: absolute;
    width: 2px;
    height: 10px;
    margin: 2px;
    margin-top: -5px;
    margin-left: -1px;
    border-radius: 0;
    -webkit-animation: line-spin-fade-rotating 1s infinite ease-in-out;
       -moz-animation: line-spin-fade-rotating 1s infinite ease-in-out;
         -o-animation: line-spin-fade-rotating 1s infinite ease-in-out;
            animation: line-spin-fade-rotating 1s infinite ease-in-out;
}
.la-line-spin-fade-rotating > div:nth-child(1) {
    top: 15%;
    left: 50%;
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-animation-delay: -1.125s;
       -moz-animation-delay: -1.125s;
         -o-animation-delay: -1.125s;
            animation-delay: -1.125s;
}
.la-line-spin-fade-rotating > div:nth-child(2) {
    top: 25.2512626585%;
    left: 74.7487373415%;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-animation-delay: -1.25s;
       -moz-animation-delay: -1.25s;
         -o-animation-delay: -1.25s;
            animation-delay: -1.25s;
}
.la-line-spin-fade-rotating > div:nth-child(3) {
    top: 50%;
    left: 85%;
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
         -o-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-animation-delay: -1.375s;
       -moz-animation-delay: -1.375s;
         -o-animation-delay: -1.375s;
            animation-delay: -1.375s;
}
.la-line-spin-fade-rotating > div:nth-child(4) {
    top: 74.7487373415%;
    left: 74.7487373415%;
    -webkit-transform: rotate(135deg);
       -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
         -o-transform: rotate(135deg);
            transform: rotate(135deg);
    -webkit-animation-delay: -1.5s;
       -moz-animation-delay: -1.5s;
         -o-animation-delay: -1.5s;
            animation-delay: -1.5s;
}
.la-line-spin-fade-rotating > div:nth-child(5) { top: 84.9999999974%; left: 50.0000000004%; -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); -webkit-animation-delay: -1.625s; -moz-animation-delay: -1.625s;  -o-animation-delay: -1.625s;  animation-delay: -1.625s;}
.la-line-spin-fade-rotating > div:nth-child(6) { top: 74.7487369862%; left: 25.2512627193%; -webkit-transform: rotate(225deg); -moz-transform: rotate(225deg); -ms-transform: rotate(225deg); -o-transform: rotate(225deg); transform: rotate(225deg); -webkit-animation-delay: -1.75s; -moz-animation-delay: -1.75s; -o-animation-delay: -1.75s;  animation-delay: -1.75s;}
.la-line-spin-fade-rotating > div:nth-child(7) { top: 49.9999806189%; left: 15.0000039834%; -webkit-transform: rotate(270deg); -moz-transform: rotate(270deg); -ms-transform: rotate(270deg);  -o-transform: rotate(270deg); transform: rotate(270deg); -webkit-animation-delay: -1.875s; -moz-animation-delay: -1.875s; -o-animation-delay: -1.875s;  animation-delay: -1.875s;}
.la-line-spin-fade-rotating > div:nth-child(8) { top: 25.2506949798%;  left: 25.2513989292%;  -webkit-transform: rotate(315deg); -moz-transform: rotate(315deg);  -ms-transform: rotate(315deg);  -o-transform: rotate(315deg);  transform: rotate(315deg); -webkit-animation-delay: -2s;  -moz-animation-delay: -2s;   -o-animation-delay: -2s;  animation-delay: -2s;}
.la-line-spin-fade-rotating.la-sm {  width: 16px;   height: 16px;}
.la-line-spin-fade-rotating.la-sm > div {  width: 1px;  height: 4px;  margin-top: -2px;  margin-left: 0;}
.la-line-spin-fade-rotating.la-2x {   width: 64px;   height: 64px;}
.la-line-spin-fade-rotating.la-2x > div {   width: 4px;  height: 20px;   margin-top: -10px;margin-left: -2px;}
.la-line-spin-fade-rotating.la-3x {  width: 96px;height: 96px;}
.la-line-spin-fade-rotating.la-3x > div { width: 6px;  height: 30px;  margin-top: -15px; margin-left: -3px;}
@-webkit-keyframes line-spin-fade-rotating {
    50% {
        background-color:#000;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes line-spin-fade-rotating {
    50% {
        opacity: .2;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes line-spin-fade-rotating {
    50% {
        opacity: .2;
    }
    100% {
        opacity: 1;
    }
}
@keyframes line-spin-fade-rotating {
    50% {
        opacity: .2;
    }
    100% {
        opacity: 1;
    }
} 
.notification-count { color: #000 !important; position: absolute !important; top: 12.5px !important; right: 15px !important; line-height: 1 !important; font-size: 11px !important; font-weight: bold !important; background: #fff0 !important; } 
p.justify a.more-link img{margin:0px !important;} 
.contact-us .contact-us-info li{padding-right:0px !important;display:flex;}
.contact-us .contact-us-info li span{height:60px;display:table-cell;vertical-align:middle;padding-left:5px !important;}
.user-pages aside .user-page-list li{float:left;border:0px !important;  margin-right: 10px}
.user-pages #sideBarAffix.affix{position:relative !important;width:100% !important;} 
.user-pages aside .user-page-list li a:hover span,.user-pages aside .user-page-list li.active a span{transform: translateX(0px) !important;} 
.list_table h5{color:#fff;} 
.user_icon{margin:10px 0px;display:none;}
.author-box .author-contact-details .contact-detail-row .contact-detail-col span a{word-break: break-word;}
#innerSearch{display:block !important;} 
.linkin_icon img{border: 6px solid #434343;  border-radius: 50%;}
.single-post-title > h4 > a.edit-post{top:35% !important;background:none !important;}
.mobile-app-button{background:#2e3034 !important;background-image:url(images/bg.png) !important; background-position: left; background-size: 100% 100% !important; }
.mobile-app-button li{width:24.333% !important;}
.mobile-app-button li a{border:0px !important;}
.mobile-submit ul.mobile-app-button li a i{color:#fff !important;}
.mobile-submit .mobile-app-button li a:hover,.mobile-submit .mobile-app-button li a:focus,.mobile-app-button li a{background:none !important;}
.bottom_logo{ margin: auto; line-height: 0px;  z-index: 1;  margin-bottom: 0px; position: absolute;  width: 100%;top:-17px;height:0px;}
.flogo{ margin-bottom: 10px;  display: inline-block; background: #2e3034; border-radius: 50%; padding: 8px 12px 6px 6px; box-shadow: 0px 0px 6px 1px #000;}
.flogo img{ height: 25px;  margin: auto;}
.mobile-submit{background:none !important;box-shadow:unset !important;}
.mobile-submit ul.mobile-app-button li a img{ box-shadow: 0px 0px 15px 0px #000; border-radius: 50%;}
.bottom-nav{margin:0px 15px;background:rgba(46, 48, 52, 0.7);color:#fff;border-radius:15px;padding:10px;text-align:center;z-index:999999; position: fixed; left: 0px;
    right: 0px; height: 280px;-webkit-transition-property: bottom;   -webkit-transition-duration: 0.8s; bottom: -290px;}
.bottom-nav ul{list-style-type:none;padding:0px;display:inline-block;}
.bottom-nav ul li{width:180px;border-bottom: 2px solid #fff;}
.bottom-nav ul li:last-child{border:0px;}
.bottom-nav ul li a{font-family:Poppins-Light;letter-spacing:5px;font-size:16px;color:#fff;}
.line4{margin:0px;border-bottom:1px solid #fff;}
.nav-title{ width: 129px; margin: auto;}
.nav-title h2{color:#fff; margin: 6px;font-family:Poppins-ExtraLight !important;}
.xs-feature_img .label-large.arrowed-in-right { margin-right: 11px;}
.xs-feature_img .label-large.arrowed-in { margin-left: 12px; }
.xs-feature_img .label.arrowed-in-right { position: relative;padding:4px 17px ;}
.xs-feature_img .label-large { font-size: 13px; padding: 3px 8px 4px; }
.xs-feature_img .label-grey{ background-color: #a0a0a0!important; }
.xs-feature_img .label { border-radius: 0; text-shadow: none; font-size: 20px; font-weight: normal; padding: 3px 5px 3px; background-color: #a0a0a0 !important; color:#525252 !important; }
.xs-feature_img .label.arrowed:before, .label.arrowed-in:before { display: inline-block; content: ""; position: absolute; left: -14px; top: 0; border: 9px solid transparent; border-width: 9px 7px; border-right-color: #a0a0a0; }
.xs-feature_img .label.arrowed-in:before { border-color: #a0a0a0; border-left-color: transparent!important; left: -9px;}
.xs-feature_img .label-grey.arrowed-in:before { border-color: #a0a0a0; }
.xs-feature_img .label-large.arrowed:before, .xs-feature_img .label-large.arrowed-in:before { left: -16px; border-width: 18.5px 8px; }
.xs-feature_img .label-large.arrowed-in:before { left: -12px; }
.xs-feature_img .label.arrowed-right:after, .xs-feature_img .label.arrowed-in-right:after { display: inline-block; content: ""; position: absolute; right: -14px; top: 0; border: 9px solid transparent; border-width: 9px 7px; border-left-color: #abbac3; }
.xs-feature_img .label.arrowed-in-right:after { border-color: #abbac3; border-right-color: transparent!important; right: -9px; }
.xs-feature_img .label-grey.arrowed-in-right:after { border-color: #a0a0a0; }
.xs-feature_img .label-large.arrowed-right:after,.xs-feature_img .label-large.arrowed-in-right:after { right: -16px; border-width: 18.5px 8px; }
.xs-feature_img .label-large.arrowed-in-right:after { right: -12px; }
.btn.btn-success.fileupload-add{width:20%;margin-right:0px !important;}
.xs-feature_img{position: relative;  top: 15px;  z-index: 1;  width: 100%;text-align:center;}
.xs-feature_img img{position:relative;z-index:9;}
.product-body.pad15 h3.user_details span{line-height:50px;font-family:Poppins-ExtraLight !important;}
.mt-100{margin-top:100px;}
.product-details p { font-size: 16px;  margin-bottom: 5px !important; margin-top: 5px;   background: #252827;  color: #fff;   padding: 15px;}
.product-details-box{ background: #2e3034;  padding: 10px;   border-radius: 15px;}
.product-details-box .product-img{ background: #fff;  padding: 10px 0px;}
.list_table table.table tbody tr td:last-child{white-space:nowrap;}
.notification_title{margin: 10px;  text-align: center;  color: #fff;font-family:Poppins-Light !important;letter-spacing:10px;font-size:20px;position:relative;font-weight:600;}
.notification_title:after, .notification_title:before{ height:2px; width:auto; right:20px; left:20px; position:absolute; content:''; background:#525252; }
.notification_title:before{top:-5px;}
.notification_title:after{bottom:-5px;}
.buttons button.wd200{width:200px;margin: auto;}
.single-post-title > h4 > a.edit-post span{ font-family: Poppins-Light !important; color:#525252 !important; font-size: 20px !important; float: left; line-height: 35px;}
#found_main_div .col-sm-7.col-xs-12{width:calc(100% - 300px) !important;}
.mobile-submit { display: none !important;}
#cust_display_all_location .inline-block{width: calc(100% - 300px); float:left;}

@media (max-width:1200px){
	.navbar-toggle{margin-top:5px !important;}
	.classiera-navbar .navbar-header .navbar-brand-custom{padding:13px 18px 12px 13px !important;border-radius:50%;left:47%; top: -16px !important;background: #2e3034;box-shadow: 0px 0px 14px 0px #000; margin: 5px;}
	.user_icon{margin:10px 0px !important;display:block !important;}
	.classiera-navbar .navbar-header .navbar-brand-custom img{width:35px !important;}
	a i.zmdi.zmdi-account,.mobile-submit{display:block !important;}
 	.classiera-navbar.classiera-navbar-v6 .navbar-default .navbar-header {  margin-top: 0px !important;}
}

@media(max-width:1024px){
	header{padding-top:0px !important;margin-bottom: 19px;}
	.classiera-navbar.classiera-navbar-v6 .navbar-default .navbar-header{margin-top:0px !important;}
	.author-box .classiera-advertisement .classiera-box-div{ width: 100%; float: unset;}
	.inner-page-content .login-register form .form-group .form-control,.author-box .classiera-advertisement .item-grid:nth-child(2n+2) .classiera-box-div{width:100% !important;margin:auto;}
	.user-pages aside .user-page-list li { width: 23.5%;  margin-left: 5px;  margin-right: 5px;}
	/*#cust_display_all_location .inline-block{width: 100%;}*/
}

@media(max-width:991px){
	.company_register_form,.carousel{width:100% !important;}
	.company_register_form .form-group{width:100%;float:unset;}
}

@media(max-width:767px){
	.search_page_item .tab-content .col-lg-6.col-md-6.col-sm-6.match-height.item.item-grid{width: 50% !important; float: left;}
	.classiera-box-div-v1 figure .premium-img{height:400px !important;}
	.search_page_item .classiera-box-div-v1 figure .premium-img img{width: 400px;}
	.search_page_item .feature_image{top:20% !important;}
	.la-line-spin-fade-rotating{right:45%;}
	.inport_btn{margin-top:40px;}
	.la-line-spin-fade-rotating{margin-top:0px !important;}
	.list_icon{max-height:300px;overflow-y:scroll;}
	.buttons { display: inline-block;}
    .other_user_page .details_section{width:100% !important;margin:0px !important;}
	.buttons button,.two-lines{margin:5px 0px !important;}
	.rtl{direction:ltr;}
    .ecom_buttton button, .ecom_buttton .btnWatch a{margin:5px 0px !important;}
    .rtl .icon-single-page-top{margin-left:0px !important;}
	.owl-item .classiera-box-div-v1 figure .premium-img{height:auto !important;}
	.buttons_list li{float:unset !important;}
	.classiera-navbar .navbar-header .navbar-brand-custom{left:45%;}
	.company_register_form .login-form:before{left:15px;right:15px;}
	.company_register_form:before{left:32px;right:32px;}
	.company_register_form input[type="submit"].btn-block{margin-top:10px !important; padding: 15px;  width: calc(100% - 30px) !important;} 
	.feature_image,.border-section .user-comments .media-body .media-heading a:before,.border-section .user-comments .media-body .media-heading a:after, .border-section .user-comments .media .media-body .media-heading .time:after,.xs-hide,body .footer-bottom{display:none !important;}
	.search_page_item .product-body{text-align:center !important;}
	.search_page_item .classiera-box-div-v1 figure figcaption p:before,.search_page_item .classiera-box-div-v1 figure figcaption p:after{left:30px;right:30px;}
	.search_page_item .classiera-box-div-v1 figure figcaption p,.search_page_item .classiera-box-div-v1 figure figcaption .user_details,.search_page_item .classiera-box-div-v1 figure figcaption .user_details a{ display: inline-grid;   width: 100%; text-align: center;}
	.search_page_item .classiera-box-div-v1 figure figcaption p a img { width: 20px;}
	.search_page_item .classiera-box-div-v1 figure figcaption .user_details img,.product-details-box .product-img img{margin:auto !important;}
	.search_page_item .classiera-box-div-v1 figure figcaption p{min-height:70px !important;}
	.user-pages aside .user-page-list li { width: 31.33%;}
	.product-body.pad15 h3.user_details span{line-height:22px !important;}
	.single_title.title_link, body{margin-bottom:70px !important;}
	.single_title.title_link a{display: block; text-align: center;}
	.single_title.title_link a img { right: calc(50% - 25px);  top: 35px; height: 50px; width: 50px;  padding: 8px;  background: #2a2c2b;  border-bottom-right-radius: 50%;  border-bottom-left-radius: 50%;}
	.btn.btn-success.fileupload-add, .form-main-section .col-sm-12.buttons{width:60%;padding:4px 0px;}
	.form-main-section .col-sm-12.buttons button,.comment_sec .media-left,.border-section .user-comments .media-body,#found_main_div .col-sm-7.col-xs-12{width:100% !important;}
	.comment_sec .media-left{position: static;margin-top:10px !important;margin-bottom:10px !important;  margin-left: 10px;}
	.comment_sec .media-left a{float:left;}
	.comment_sec .media-body .media-heading{text-align:center; margin: 60px 0px !important;  padding: 10px 0px;position:relative;}
	.comment_sec .media-body h5:before{ position: absolute; content: "";   height: 2px;  width: auto;  right: 35%; left: 35%;  background: #525252; top: 0px;}
	.comment_sec .media-body h5:after{ position: absolute; content: "";   height: 2px;  width: auto;  right: 35%; left: 35%;  background: #525252; bottom: 0px;}	
	.border-section .user-comments .media .media-body .media-heading .time,.border-section .user-comments .media-body .media-heading a{display:unset !important;}
	.border-section .user-comments .media-body .media-heading a{font-size: 25px;}
	.border-section .user-comments .media .media-body .media-heading .time{font-size: 16px;}
	.comment.byuser.comment-author-webman.media{margin-top:15px !important;}
	.border-section .user-comments .media .media-body p{border:4px solid #525252;}
	.classiera-box-div-v1 figure .premium-img{height:auto !important;}
	.mt-15{margin-top:15px;}
	.other_user_page .our_branch p span{height:100px;}
	.branch-section .col-sm-6{width:50% !important;float: left;}
	.notification_title.hide{display:block !important;}
	.branch-section .col-sm-6:first-child,.branch-section .col-sm-6:nth-child(2n+3) {direction:rtl;}
	.branch-section .col-sm-6:nth-child(2n+3) .our_branch a {text-align:right !important;}
	.branch-section .col-sm-6:nth-child(2n+3) .our_branch p img {margin-left:5px;}
	.not-window .not-item{text-align:center;}
	.not-window .not-wrap a{display:inline-block;}
	.not-window .not-wrap a p span.date:before, .not-window .not-wrap a p span.time:before{  width: auto !important;  left: 20% !important;  right: 20% !important;}
	.not-window .not-wrap a p span.date, .not-window .not-wrap a p span.time{padding:0px 40px;text-align:left;}
	#found_main_div label.red,#cust_display_all_location label.red,#found_main_div label.yellow,#cust_display_all_location label.yellow,#cust_display_all_location label.green, #found_main_div label.green{text-align:center !important;width:100% !important;}
	/*.wpb_wrapper*/ #found_main_div span, #cust_display_all_location.clearfix .inline-block span{width:100% !important;margin-top:0px !important;float:unset !important;} 
}

@media(max-width:640px){
	.map_discription ul ,.border-section .user-comments .media-body .media-heading a{ display: inline-block !important;}
	.map_discription ul li{ display: inline-table;  width: 39%;}
	.map_discription ul li span{ white-space: nowrap;display: inline-block;width:100%;font-size: 20px;} 
	.search_page_item .tab-content .col-lg-6.col-md-6.col-sm-6.match-height.item.item-grid, .branch-section .col-sm-6, .line2, .line3{width: 100% !important;}
	.login-register .apsl-login-networks.theme-4 .apsl-icon-block{font-size:30px;}
	.login-register .bg-gray{padding: 5px !important;}
	.user-pages aside .user-page-list li { width: 47.33%;}
	.branch-section .col-sm-6{float: unset;direction:ltr !important;}
   .map_discription{bottom:190px;}
   .map_search { position: relative; bottom: -260px;margin: auto;top:auto;right:auto;  margin-bottom: 225px;}
   .search_icon { top: -56px; right: auto; width: 100%; text-align: center;}
   .search-form{ visibility: visible; opacity: 1;}
   .border-section .user-comments .media-body .media-heading a{margin:0px !important;}
    /*.comment_sec .media-body .media-heading{margin:50px 0px !important;margin-left:160px !important;}*/	
   .branch-section .col-sm-6:nth-child(2n+3) .our_branch a{text-align:left !important;}
   .home .search_icon{display:none;}
   .home #classiera_main_map.leaflet-container.leaflet-touch-drag.leaflet-touch-drag{margin-top:440px;}
   .home .map_search {  position: absolute;  top: -405px;  z-index: 999; left:15px; right: 15px; width: auto; bottom: auto;  margin-bottom: 0px;}
   .hyst_social .social_icon{padding:17px 20px !important;}
   .addtoany_list.a2a_kit_size_32 a>span {width: 40px !important; height: 40px !important;}
   .addtoany_list a { padding: 2px !important;}
}

@media(max-width:425px){
	.login-register .apsl-login-networks.theme-4 .apsl-icon-block{font-size:20px;}
	.login-register .apsl-login-networks.theme-4 .apsl-icon-block i { height: 35px !important;  width: 35px !important;}
	.login-register .apsl-login-networks.theme-4 .apsl-icon-block i:before { line-height: 37px;  font-size: 25px;}
	.login-register .apsl-login-networks.theme-4 .apsl-icon-block span { line-height: 35px;}
	.search_page_item{margin:0px -15px;}
	.map_discription ul li{width:33%;}
	 #frm_list .single_description, .list_table,.all_usertemplate #sideBarAffix ul li,.fileupload-wrapper .fileupload-add, #cat.postform{width:100% !important;}
    .all_usertemplate #sideBarAffix ul li{ padding: 7px !important;}
	.classiera-box-div-v1 figure .premium-img,.user-detail-section .user-ads .media .product_image .media-object,.user-detail-section .user-ads .media .product_image{height:auto !important;}
	.search_page_item .classiera-box-div-v1 figure .premium-img img{width:auto !important;}
	.search_page_item .feature_image{top:70px !important;}
	#classiera_map form .search-form #innerSearch .inner-search-box:nth-child(2) input, form .search-form #innerSearch .inner-search-box:nth-child(5) input {text-align:center;height: 45px;}
	#classiera_map form .search-form #innerSearch .inner-search-box{height:45px;}
	form .search-form #innerSearch{display:block !important;border-radius:15px !important;}
	.map_title.hide{display:block !important;}
	.map_title h2{ margin: 20px 0px; text-align: center; color: #fff;position:relative;font-family:Poppins-ExtraLight !important;}
	.map_title h2:after{    position: absolute; content: ''; height: 2px; width: 50%; bottom: -10px; background: #fff;  left: 25%;}
	.map_title h2:before{    position: absolute; content: ''; height: 2px; width: 50%; top: -10px; background: #fff;  left: 25%;}
	.inner-search-box.flex{display:inline !important;}
	.inner-search-box.flex button{margin-top: 15px; width: 100%;text-transform:lowercase;}
   .footer-bottom h3,.single_title h2{font-size:18px;}
   .footer-bottom h3{padding:5px !important;}
   .fileupload-wrapper .fileupload-add{ margin-bottom: 15px;}
   .classiera-navbar .navbar-header .navbar-brand-custom{ left: calc(60% - 66px);}
   body header .classiera-navbar.classiera-navbar-v6{padding:17px 20px !important;}
   input[name="brn_confirm"],input[name="brn_not_confirm"]{width:110px;}
   #found_main_div #frm_confirm, #cust_display_all_location #frm_confirm{margin:10px 0px 15px 0px; width: 43% !important;}
   #found_main_div .col-xs-12 span,.form-main-section .col-sm-12.buttons,form input[name="brn_confirm"], form input[name="brn_not_confirm"]{width:100% !important;}
   .mobile-app-button li { width: 24% !important;}
   .flogo img { height: 20px;}
   .map_discription { bottom: 285px;}
   .map_search{width:300px;}
   .carousel .slides{height:190px !important;}
   .border-section .user-comments .media .media-object{height:100px !important;width:100px !important;}
   /*.comment_sec .media-body .media-heading{margin:20px 0px !important;margin-left:110px !important}*/
   .border-section .user-comments .media .media-body .media-heading .time {font-size: 14px;}
   .home .map_search{top:-465px;}
   .home #classiera_main_map.leaflet-container.leaflet-touch-drag.leaflet-touch-drag { margin-top: 500px;}
   .btn.btn-success.fileupload-add{margin-bottom:0px !important;}
   .inner-page-content .single-post .single-post-title > h4 a{padding:0px 60px;}
   #cat.postform{margin-left:0px !important;}
   body .edit_section .address_search:hover { width: 90% !important;}
   .not-window{width:auto !important;left:10px !important;right:10px !important;min-width:auto !important;}
}

@media(max-width:320px){
	#found_main_div #frm_confirm, #cust_display_all_location #frm_confirm {  width: 42% !important;}
}

.black-checkbox p label{font-size:16px;font-family:Poppins-Light;color:#525252 !important;}
.black-checkbox label.custom-checkbox-lbl{background:#414141 !important;}
.black-checkbox.checkbox input[type="checkbox"]:checked + i:before{color:#fff !important;}
.inner-page-content .login-register form .form-group .inner-addon{width:95% !important;}
/* home range slider */
#slider-range-home, #slider-range-km { width: calc(100% - 4px); border-radius: 100px; }
.body{ padding: 50px;}
.handle_value {  position: absolute;  bottom: 16px;  left: -16.5px;  font-size: 15px;  color: #FFF;  text-align: center;  display: block;  height: 22px;  min-width: 40px;  background: #636363; padding: 0px 5px; border-radius: 3px; white-space: nowrap;  font-family: Poppins-ExtraLight; }
.handle_value:before {   content: '';  display: block;  width: 10px;  height: 10px;   position: absolute;  bottom: -10px; left: 50%;  margin-left: -5px;  border-top: 5px solid #999;  border-left: 5px solid transparent; border-right: 5px solid transparent;  box-sizing: border-box;  }
#slider-range-home span:last-child .handle_value{  left: -30.5px !important; }
.ui-slider-handle {  outline: 0; }
.ui-widget-content {   background: #606060 !important; border: 1px solid #606060 !important; }
.ui-widget-header {  border: 1px solid #0fbe3b; background: #0fbe3b;   color: #333333;   font-weight: bold;}
.ui-widget {   font-family: Arial,Helvetica,sans-serif;  font-size: 4px ;}
.ui-widget.ui-widget-content { border: 2px solid #000; }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {   border-top: 1px solid #636363 !important; border-left: 1px solid #636363 !important;  border-right:1px solid #636363 !important;  border-bottom:1px solid #636363 !important;   background: #636363 !important;  font-weight: normal !important;  color: #454545 !important;   width: 10px !important;  height: 11px !important;  top: -6px !important; }
.ui-slider-handle:before {  content: '';   display: block; width: 10px;  height: 10px;  position: absolute;  bottom: -10px; left: 50%;  margin-left: -5px; border-top: 5px solid #636363; border-left: 5px solid transparent;  border-right: 5px solid transparent;  box-sizing: border-box; }
.icon-single-page{  width:45px; margin-right:5px;}
.st-custom-button{ width: 58px !important; }
.icon-single-page-top{  width:85px;}
.rtl .icon-single-page-top{margin-left: 10px;}
.single-post-title > h4 > a.edit-post {  text-align: center;  font-size: 14px !important;  font-family: Poppins-ExtraLight !important; text-transform: lowercase !important; border-bottom: none !important;  display: inline-block !important;  padding: 0px 0px!important;padding-bottom: 0px !important;}
.custom-checkbox-lbl{ background: #fff; padding: 10px !important; border-radius: 60px; }
.custom-checkbox-icon{ padding-left: 4px; padding-bottom: 2px; }
.checkbox input[type="checkbox"]:checked + i:before, .radio input[type="radio"]:checked + i:before { color:#242726 !important;}
.checkbox:hover input[type="checkbox"] + i:before, .radio:hover input[type="radio"] + i:before {color: #242726;}
.white{ color:#fff !important; }
#found_main_div span{ width:80% !important;}
.btn-success:hover{color: #727272; background-color: #212324; border-color: #212324;}
.page-template-template-submit-ads .btn-danger, .page-template-template_submit_inventory .btn-danger{ padding: 4px 10px; border-radius: 5px; background: #212324 !important; color: #727272 !important; border: none; margin: 5px; }
.page-template-template-submit-ads .btn-danger:hover, .page-template-template_submit_inventory .btn-danger:hover{ padding: 4px 10px; border-radius: 5px; background: #212324 !important; color: #727272 !important; border: none; margin: 5px; }
#back-to-top{ display:block; }
.maincatli{/*width: 12% !important;*/ height: 92px;}

@media only screen and (max-width: 800px) {
    #back-to-top{ display:none !important;}	
}
.ecom_buttton button, .ecom_buttton .btnWatch a{ text-align:left; padding-left:5px;}
.ecom_buttton button span{margin-left:15px;}
.inner-search-box .max_handle{bottom:-25px !important;}
.border-section .user-comments .media-body .media-heading{text-align: center; color: #fff !important; font-size: 40px !important; font-family: !Poppins-ExtraLight important; text-transform: lowercase; line-height: 30px;}

/* ----------------------- */
/* ----- custom css ----- */
/* --------------------- */

/*.border-section .user-comments .media .media-body .reply-comment-div {
    display: block !important;
}*/
.addComment p, .addComment p a {
    color: #fff;
}
.user-comments .media-body h5.text-right.flip {
    display: block !important;
    color: #fff;
    padding-right: 15px;
}
.user-comments .media-body h5.text-right.flip a,
.user-comments .media-body h5.text-right.flip i {
    color: #fff !important;
}
.addComment label.text-capitalize {
    color: #fff;
    margin-bottom: 15px;
    display: block;
}
.comment_sec .comment-form form .form-group textarea {
    border: 2px solid #525252 !important;
    color: #fff !important;
}
/*.related-blog-post-head figcaption.pad0 {
    text-align: center;
}*/
h5.media-heading span.normal {
    display: block !important;
    font-size: 18px;
    color: #fff !important;
    margin: 10px 0;
}
.comment-awaiting-moderation {
    display: none !important;
    margin: 40px auto 16px !important;
    text-align: center !important;
    max-width: 500px;
    clear: both;
    overflow: hidden;
    border: 0 !important;
    font-size: 14px !important;
    font-weight: normal !important;
    letter-spacing: .7px;
    padding: 10px !important;
    line-height: 24px !important;
}
.related-blog-post-head .classiera-box-div-v1 figure figcaption p {
    padding: 0;
}
.image_section .single_title {
    margin-bottom: 20px;
}
.image_section .slideItem {
    position: static !important;
    width: 100% !important;
    height: 100% !important;
}
/*.image_section .slideItem img.img-responsive {
    width: 100% !important;
    height: auto !important;
}*/
.related-blog-post-head .classiera-box-div-v1 {
    /*border: solid 1px #434343;*/
}
.related-blog-post-head .classiera-box-div-v1 figure .premium-img {
    overflow: hidden;
    height: 410px;
}
.related-blog-post-head .classiera-box-div-v1 figure .premium-img img {
    width: 100%;
    min-height: 410px;
}
h4.text-uppercase a.edit-post {
    display: none !important;
}
.related-blog-post-head figcaption.pad0 p,
.related-blog-post-head figcaption.pad0 p a {
    color: #000;
}
div#def,.add_list_item,#found_hyst_block_div {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 20px;
    clear: both;
    overflow: hidden;
}
#def .form-group {
    width: 100% !important;
    margin: 0 0 20px;
}
#def .col-md-6.col-md-offset-3 {
    width: 100% !important;
    margin: 0px;
    padding: 0;
}
#def .single_title.row {
    margin: 0;
}
#def form.form-horizontal p.font-16 {
    clear: both;
    margin-bottom: 20px;
}
#def form.form-horizontal button.btn {
    text-align: center;
    width: 100%;
    max-width: 200px;
    color: #fff !important;
}
.border-section .comment-form form .form-group .form-control {
    color: #fff !important;
    background: #323337;
    border: solid 2px #525252;
}
.image_section {
    padding-bottom: 20px;
}
.inner-page-content .single-post .single-post-title > h4.text-uppercase > a {
    text-transform: capitalize;
}
.single-post-title .rtl p {
    color: #000;
}
.add_list_item form#frm_list .single_description {
    width: 100%;
}
.add_list_item form#frm_list button.cust_sub_button {
    width: 100% !important;
    max-width: 200px;
}
.single-post .hyst_social .social_icon {
    padding: 20px 70px !important;
}
.hyst_social .social_icon a#like_click1 {
    text-align: center;
    display: block;
}
.hyst_social .social_icon a br {
    display: none;
}
.single-post .hyst_social .social_icon img.icon-single-page {
    margin: 0 auto;
    width: 100%;
    max-width: 50px;
    display: block;
}
.google_map .single_title {
    margin-bottom: 20px;
}
.google_map .single_page_map {
    bottom: -105px !important;
}
.google_map {
    position: relative;
    margin-bottom: 105px;
}
.comment_sec.border-section .user-comments {
    margin-bottom: 0;
}
h5.media-heading a {
    text-transform: capitalize !important;
}
h5.media-heading span.time:after,.border-section .user-comments .media-body p:after {
    display: none;
}
.extra_comment_form label.text-capitalize {
    color: #000;
}
.comment_sec .comment-form.extra_comment_form .form-group textarea {
    color: #000 !important;
}
.inner-addon.flex p#description {
    text-align: center;
    border-radius: 0;
}
.leaflet-popup-content {
    width: 380px !important;
}
.comment-form.extra_comment_form .form-group.col-sm-12 {
    margin-bottom: 0;
}
#found_hyst_block_div #search_form {
    display: block;
    border-radius: 0;
}
#found_hyst_block_div #search_form input.form-control {
    width: 100% !important;
    height: 50px;
    line-height: 50px;
}
#found_hyst_block_div #search_form button {
    border-radius: 0px;
}
.related-blog-post-head figcaption.pad0 h5, 
.related-blog-post-head figcaption.pad0 a, 
.related-blog-post-head figcaption.pad0 h5 span,
.related-blog-post-head figcaption.pad0 p {
    font-size: 21px !important;
    color: #525252 !important;
    font-family: Poppins-Light !important;
    text-transform: capitalize;
}
.related-blog-post-head figcaption.pad0 h5 {
    margin: 0 0 5px;
}
form#primaryPostForm .form-group .inner-addon .form-control {
    height: 60px;
}
form#primaryPostForm .form-group .inner-addon {
    position: relative;
    padding-right: 70px;
}
form#primaryPostForm .form-group .inner-addon .checkbox {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}
form#primaryPostForm .form-group .inner-addon .checkbox label.custom-checkbox-lbl {
    margin-bottom: 0;
}
form#primaryPostForm .upt-pass .inner-addon {
    padding-right: 0;
}
form#primaryPostForm .form-group .checkbox .custom-checkbox-lbl {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
}
form#primaryPostForm .form-group .checkbox .fa, 
form#primaryPostForm .form-group .radio .fa {
    width: 20px;
    font-size: 24px;
}
form#primaryPostForm .form-group .checkbox input[type="checkbox"] + i:before, 
form#primaryPostForm .form-group .radio input[type="radio"] + i:before {
    bottom: 1.5px;
    margin-right: 0;
}
form#primaryPostForm .form-group .checkbox .custom-checkbox-icon {
    padding-left: 0;
    padding-bottom: 0;
}
form#primaryPostForm .form-group .checkbox p,
form#primaryPostForm .form-group .checkbox p label {
    margin: 0;
}
.map_discription ul li span {
    padding: 10px 10px 0;
    display: inline-block;
}

.all-loc {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    padding-top: 15px;
}
.all-loc h2 {
    width: auto;
    float: left;
    margin-top: 22px;
}
.all-loc .checkbox p label {
    color: #fff;
    padding-top: 5px;
}
.all-loc label.custom-checkbox-lbl {
   width: 40px;
   height: 40px;
   line-height: 20px;
   text-align: left;
   padding: 9px 8px !important;
}
.all-loc label.custom-checkbox-lbl i.fa.fa-3x.icon-checkbox {
   font-size: 22px;
   line-height: 0px;
}
.map_search form .inner-search-box .form-control {
    background: #2a2c2b !important;
    color: #fff !important;
    border-radius: 0px !important;
    font-size: 16px !important;
    border: unset;
    height: 70px;
}
.page-id-1754 form .search-form #innerSearch .inner-search-box:nth-child(2) {
    padding: 35px 45px 0 25px !important;
    height: 92px !important;
}
div#post_tag .ui-autocomplete-multiselect.ui-state-default.ui-widget {
    width: 100% !important;
    height: auto !important;
    background: none !important;
    border: 0 !important;
    min-height: 100% !important;
    font-size: 15px;
}
.post-detail .black-checkbox p label {
    padding-left: 0;
}
.checkbox input[type="checkbox"] + i:before, .radio input[type="radio"] + i:before {
    bottom: -3px;
    margin-right: 3px;
}
.login-register.login-register-v1 {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
.login-register.login-register-v1 .center-block {
    width: 100%;
}
.login-register.login-register-v1 .col-lg-12.text-center .form-group + .form-group {
    width: auto;
    display: inline-block;
    vertical-align: text-bottom;
    padding: 0 20px;
}
#classiera_map {
    position: relative;
    top: -11px;
}
#classiera_map .toggle-comp {
    text-align: center;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 999;
}
.toggle-comp button {
    background: #323337;
    border: 0;
    color: #fff;
    font-family: Poppins-Light;
    padding: 10px 25px;
    font-size: 18px;
    outline: none;
    -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .5);
    -ms-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .5);
    -o-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .5);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.toggle-comp button:hover,.toggle-comp button:focus {
    background: #000;
}
.form-main-section.post-location .row {
    margin: 0;
}
.form-main-section.post-location #post-map {
    padding: 0 15px;
    margin-top: 0 !important;
    height: 500px !important;
}
.page-id-1300 .submit-post form .form-group {
    margin-bottom: 20px;
}
.post-detail .single_title {
    margin-bottom: 15px;
}
.post-detail .single_title h2.classiera-post-inner-heading {
    margin-bottom: 0;
}
.fileupload-add.newuploads {
    margin-top: 12px;
    position: relative;
    width: 100% !important;
    max-width: 251px;
    padding: 4px 10px;
}
.fileupload-add.newuploads input[type="file"] {
    left: 0;
    right: 0;
    width: auto;
    min-width: 100%;
    max-width: 100%;
}
#edit_post form#frm_save_hyst {
    display: none;
}
.submit-post form .form-main-section {
    margin-bottom: 20px;
}
.form-main-section > .col-sm-12.buttons button.post-submit {
    width: 100% !important;
    max-width: 251px !important;
    margin: 0px auto 15px !important;
}
#mydropzone .edit-post-image-block {
    border: solid 2px #444445;
    overflow: hidden;
    margin: 3px;
    cursor: pointer;
    position: relative;
}
#mydropzone .edit-post-image-block img.edit-post-image {
    max-width: 150px;
    max-height: 100px;
    min-height: 70px;
    width: auto;
    margin-bottom: 2px;
    border: 0 !important;
}
/*#mydropzone .edit-post-image-block i.fa {
    color: #f00;
    border: solid 1px #ff0000;
    width: 20px;
    height: 20px;
    font-size: 16px;
    position: absolute;
    top: 0px;
    right: 0;
    background: #fff;
}*/
#mydropzone .edit-post-image-block span.removeImage {
    font-weight: 500;
    font-size: 13px;
    letter-spacing: .5px;
}
#post_tag .form-control {
    margin-bottom: 15px;
}
.div-position {
    position: absolute !important;
    top: 0px;
	height:500px !important;
}
.div-visible-pos2 {
    position:absolute !important;
}

/* --------------------------- */
/* ----- responsive css ----- */
/* ------------------------- */

@media screen and (max-width:1600px) {
.related-blog-post-head .classiera-box-div-v1 figure .premium-img {
    height: 330px;
}
.related-blog-post-head .classiera-box-div-v1 figure .premium-img img {
    min-height: 330px;
} 
}

@media screen and (max-width:1440px) {
.related-blog-post-head .classiera-box-div-v1 figure .premium-img {
    height: 300px;
}
.related-blog-post-head .classiera-box-div-v1 figure .premium-img img {
    min-height: 300px;
} 
}

@media screen and (max-width:1280px) {
.related-blog-post-head .classiera-box-div-v1 figure .premium-img {
    height: 260px;
}
.related-blog-post-head .classiera-box-div-v1 figure .premium-img img {
    min-height: 260px;
} 
}

@media screen and (max-width:1200px) {
body .footer-bottom {
    padding: 15px 0px 80px !important;
}
.classiera-navbar.classiera-navbar-v6 .navbar-default .navbar-nav > li > a, 
.classiera-navbar.classiera-navbar-v6 .navbar-default .login-reg a {
    font-size: 18px !important;
}
}

@media screen and (max-width:1198px) {
.classiera-box-div-v1 figure .premium-img {
    height: 200px;
}
}

@media screen and (max-width:1150px) {
.related-blog-post-head .classiera-box-div-v1 figure .premium-img {
    height: 235px;
}
.related-blog-post-head .classiera-box-div-v1 figure .premium-img img {
    min-height: 235px;
} 
}

@media screen and (max-width:1024px) {
.related-blog-post-head .classiera-box-div-v1 figure .premium-img {
    height: 200px;
}
.related-blog-post-head .classiera-box-div-v1 figure .premium-img img {
    min-height: 200px;
} 
.inner-page-content {
    padding-top: 80px;
}
#classiera_map {
    top: 55px;
}
}

@media screen and (max-width:999px) {
.related-blog-post-head .classiera-box-div-v1 figure .premium-img {
    height: 310px;
}
.related-blog-post-head .classiera-box-div-v1 figure .premium-img img {
    min-height: 310px;
}
.home .map_discription {
    bottom: -115px;
}
}

@media screen and (max-width:991px) {
#cust_display_all_location .inline-block{
    width: 100%;
    padding: 15px 0 10px;
}
#found_main_div, #cust_display_all_location {
    padding: 0px 15px 0;
    margin-top: 0 !important;
}
#found_main_div .col-sm-12.col-xs-12.col-md-8.col-lg-9 {
    padding: 25px 0px 20px;
    margin-bottom: 0;
}
#found_main_div > span, #cust_display_all_location > span {
    top: 0 !important;
}
.classiera-box-div-v1 figure .premium-img {
    height: 230px;
}
.list_icon li,.classiera-post-sub-cat ul#subcategory li {
    width: 15% !important;
    margin: 0px .5% 10px !important;
}
.classiera-post-sub-cat ul#subcategory li {
     margin: 0px .5% 10px !important;   
}
#menu-main-menu li a {
    padding: 0px 8px;
}
#menu-item-1462, #menu-item-1293 {
    background-size: 20px;
    background-position: 0;
}
.classiera-navbar.classiera-navbar-v6 .navbar-default .navbar-nav > li > a, 
.classiera-navbar.classiera-navbar-v6 .navbar-default .login-reg a {
    font-size: 14px !important;
}
#link_notification img {
    width: 25px;
}
#navbarCollapse .zmdi.zmdi-account {
    margin: 0;
    font-size: 14px !important;
}
#navbarCollapse i.zmdi.zmdi-account:before {
    padding: 6px 8px;
}
.classiera-navbar.classiera-navbar-v6 .navbar-default .login-reg a:first-of-type {
    padding-left: 7px;
}
}

@media screen and (max-width:900px) {
.related-blog-post-head .classiera-box-div-v1 figure .premium-img {
    height: 275px;
}
.related-blog-post-head .classiera-box-div-v1 figure .premium-img img {
    min-height: 275px;
} 
}

@media screen and (max-width:768px) {
.related-blog-post-head .classiera-box-div-v1 figure .premium-img {
    height: 230px;
}
.related-blog-post-head .classiera-box-div-v1 figure .premium-img img {
    min-height: 230px;
} 
}

@media screen and (max-width:767px) {
.related-blog-post-head .classiera-box-div-v1 figure .premium-img {
    height: 230px !important;
    overflow: hidden !important;
}
.related-blog-post-head .classiera-box-div-v1 figure .premium-img img {
    min-height: 230px;
} 
.cust_display_all_location .form_button {
    text-align: center;
}
#found_main_div #frm_confirm, #cust_display_all_location #frm_confirm {
    float: none !important;
    display: inline-block;
}
#found_main_div, #cust_display_all_location {
    text-align: center;
}
#found_main_div > span, #cust_display_all_location > span {
    padding: 8px !important;
}
.comment_sec .user-comments {
    margin-top: 15px;
}
.google_map .single_page_map {
    bottom: -235px !important;
}
.comment_sec {
    padding: 125px 0 0 !important;
}
.border-section .user-comments .media .media-object {
    margin: 0 auto;
    float: none;
}
.comment_sec ul.media-list {
    padding: 0 15px;
}
.home .map_discription {
    bottom: -210px;
    padding-bottom: 90px;
}
.list_icon li,.classiera-post-sub-cat ul#subcategory li {
    width: 32% !important;
}
.user_name {
    font-size: 30px;
    margin: 15px 0px;
    line-height: 30px;
}
/**/
.all_usertemplate #sideBarAffix .user_name {
    font-size: 34px;	
}
.user_name {
    line-height: 35px;	
}
.branch-section .col-md-10.col-md-offset-1 {
    padding: 0;
}
.branch-section .col-sm-6 {
    padding-left: 0;
    padding-right: 0;
}
.branch-section .our_branch p:first-child {
    padding-right: 9px;
}
ul.list-unstyled.text-left.contact_icon.inline-block img {
    margin-right: 10px;
    margin-bottom: 6px;
}
/**/
}

@media screen and (max-width:667px) {
.related-blog-post-head .classiera-box-div-v1 figure .premium-img {
    height: 200px !important;
}
.related-blog-post-head .classiera-box-div-v1 figure .premium-img img {
    min-height: 200px;
} 
}

@media screen and (max-width:640px) {
.home .map_discription{
    bottom: -320px !important;
}
.home .search-section {
    padding: 40px 0 190px;
}
.classiera-box-div-v1 figure .premium-img img {
    width: 100%;    
}
}

@media screen and (max-width:599px) {
.related-blog-post-head .classiera-box-div-v1 figure .premium-img {
    height: auto !important;
}
.related-blog-post-head .classiera-box-div-v1 figure .premium-img img {
    min-height: 100%;
} 
.list_icon li,.classiera-post-sub-cat ul#subcategory li {
    width: 48% !important;
}
}

@media screen and (max-width:479px) {
form#primaryPostForm .col-md-6.col-md-offset-3,
form#primaryPostForm .form-group.col-sm-6 {
    padding: 0;
}
.all-loc h2 {
    width: 100%;
    float: none;
}
}

@media screen and (max-width:346px) {
.google_map .single_page_map {
    bottom: -347px !important;
}
.comment_sec {
    padding: 240px 0 0 !important;
}
.list_icon li,.classiera-post-sub-cat ul#subcategory li {
    width: 100% !important;
    margin: 0px 0 10px !important;
    display: block;
}
}

/*.div-visible-pos2{
	height:0px !important;
}
.div-position {
    position: absolute !important;
    top: 0px;
}
#classiera_main_map2 .leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom.div-visible-pos2 {
	height:auto !important;
}
.div-visible-pos2 {
    visibility: hidden;
    opacity: 1;
    position: absolute !important;
    top: 0;
}
.leaflet-touch-drag.leaflet-touch-zoom {
    display: none;
}
.leaflet-touch-drag.leaflet-touch-zoom.div-visible-pos2 {
	display:block !important;	
}
#classiera_main_map .div-visible-pos {
    display: none;
}
*/