/*textWhiteBgBlack*/
.magic_slider_textWhiteBgBlack_small {
	font-family: Arial;
	font-size:12px;
	line-height:12px;
	font-weight:bold;
	color:#FFF;
	background:#000;
	padding:5px 6px;
	margin:0;
}
.magic_slider_textWhiteBgBlack_small a {
	color:#FFF;
	text-decoration:underline;
}
.magic_slider_textWhiteBgBlack_small a:hover {
	color:#F00;
	text-decoration:underline;
}
.magic_slider_textWhiteBgBlack_medium {
	font-family: Arial;
	font-size:22px;
	line-height:22px;
	font-weight:normal;
	color:#FFF;
	background:#000;
	padding:6px 7px;
	margin:0;
}
.magic_slider_textWhiteBgBlack_medium a {
	color:#FFF;
	text-decoration:underline;
}
.magic_slider_textWhiteBgBlack_medium a:hover {
	color:#F00;
	text-decoration:underline;
}
.magic_slider_textWhiteBgBlack_large {
	font-family: Arial;
	font-size:36px;
	line-height:36px;
	font-weight:normal;
	color:#FFF;
	background:#000;
	padding:7px 10px;
	margin:0;
}
.magic_slider_textWhiteBgBlack_large a {
	color:#FFF;
	text-decoration:underline;
}
.magic_slider_textWhiteBgBlack_large a:hover {
	color:#F00;
	text-decoration:underline;
}
/*textBlackBgWhite*/
.magic_slider_textBlackBgWhite_small {
	font-family: Arial;
	font-size:12px;
	line-height:12px;
	font-weight:bold;
	color:#000;
	background:#FFF;
	padding:5px 6px;
	margin:0;
}
.magic_slider_textBlackBgWhite_small a {
	color:#000;
	text-decoration:underline;
}
.magic_slider_textBlackBgWhite_small a:hover {
	color:#F00;
	text-decoration:underline;
}
.magic_slider_textBlackBgWhite_medium {
	font-family: Arial;
	font-size:22px;
	line-height:22px;
	font-weight:normal;
	color:#000;
	background:#FFF;
	padding:6px 7px;
	margin:0;
}
.magic_slider_textBlackBgWhite_medium a {
	color:#000;
	text-decoration:underline;
}
.magic_slider_textBlackBgWhite_medium a:hover {
	color:#F00;
	text-decoration:underline;
}
.magic_slider_textBlackBgWhite_large {
	font-family: Arial;
	font-size:36px;
	line-height:36px;
	font-weight:normal;
	color:#000;
	background:#FFF;
	padding:7px 10px;
	margin:0;
}
.magic_slider_textBlackBgWhite_large a {
	color:#000;
	text-decoration:underline;
}
.magic_slider_textBlackBgWhite_large a:hover {
	color:#F00;
	text-decoration:underline;
}
/*textRedBgWhite*/
.magic_slider_textRedBgWhite_small {
	font-family: Arial;
	font-size:12px;
	line-height:12px;
	font-weight:bold;
	color:#F00;
	background:#FFF;
	padding:5px 6px;
	margin:0;
}
.magic_slider_textRedBgWhite_small a {
	color:#F00;
	text-decoration:underline;
}
.magic_slider_textRedBgWhite_small a:hover {
	color:#000;
	text-decoration:underline;
}
.magic_slider_textRedBgWhite_medium {
	font-family: Arial;
	font-size:22px;
	line-height:22px;
	font-weight:normal;
	color:#F00;
	background:#FFF;
	padding:6px 7px;
	margin:0;
}
.magic_slider_textRedBgWhite_medium a {
	color:#F00;
	text-decoration:underline;
}
.magic_slider_textRedBgWhite_medium a:hover {
	color:#000;
	text-decoration:underline;
}
.magic_slider_textRedBgWhite_large {
	font-family: Arial;
	font-size:36px;
	line-height:36px;
	font-weight:normal;
	color:#F00;
	background:#FFF;
	padding:7px 10px;
	margin:0;
}
.magic_slider_textRedBgWhite_large a {
	color:#F00;
	text-decoration:underline;
}
.magic_slider_textRedBgWhite_large a:hover {
	color:#000;
	text-decoration:underline;
}
/*textBlueBgWhite*/
.magic_slider_textBlueBgWhite_small {
	font-family: Arial;
	font-size:12px;
	line-height:12px;
	font-weight:bold;
	color:#00F;
	background:#FFF;
	padding:5px 6px;
	margin:0;
}
.magic_slider_textBlueBgWhite_small a {
	color:#00F;
	text-decoration:underline;
}
.magic_slider_textBlueBgWhite_small a:hover {
	color:#F00;
	text-decoration:underline;
}
.magic_slider_textBlueBgWhite_medium {
	font-family: Arial;
	font-size:22px;
	line-height:22px;
	font-weight:normal;
	color:#00F;
	background:#FFF;
	padding:6px 7px;
	margin:0;
}
.magic_slider_textBlueBgWhite_medium a {
	color:#00F;
	text-decoration:underline;
}
.magic_slider_textBlueBgWhite_medium a:hover {
	color:#F00;
	text-decoration:underline;
}

.magic_slider_textBlueBgWhite_large {
	font-family: Arial;
	font-size:36px;
	line-height:36px;
	font-weight:normal;
	color:#00F;
	background:#FFF;
	padding:7px 10px;
	margin:0;
}
.magic_slider_textBlueBgWhite_large a {
	color:#00F;
	text-decoration:underline;
}
.magic_slider_textBlueBgWhite_large a:hover {
	color:#F00;
	text-decoration:underline;
}
/*textWhiteBgTransparent*/
.magic_slider_textWhiteBgTransparent_small {
	font-family: Arial;
	font-size:12px;
	line-height:12px;
	font-weight:bold;
	color:#FFF;
	background:none;
	padding:0;
	margin:0;
}
.magic_slider_textWhiteBgTransparent_small a {
	color:#FFF;
	text-decoration:underline;
}
.magic_slider_textWhiteBgTransparent_small a:hover {
	color:#F00;
	text-decoration:underline;
}
.magic_slider_textWhiteBgTransparent_medium {
	font-family: Arial;
	font-size:22px;
	line-height:22px;
	font-weight:normal;
	color:#FFF;
	background:none;
	padding:0;
	margin:0;
}
.magic_slider_textWhiteBgTransparent_medium a {
	color:#FFF;
	text-decoration:underline;
}
.magic_slider_textWhiteBgTransparent_medium a:hover {
	color:#F00;
	text-decoration:underline;
}
.magic_slider_textWhiteBgTransparent_large {
	font-family: Arial;
	font-size:36px;
	line-height:36px;
	font-weight:normal;
	color:#FFF;
	background:none;
	padding:0;
	margin:0;
}
.magic_slider_textWhiteBgTransparent_large a {
	color:#FFF;
	text-decoration:underline;
}
.magic_slider_textWhiteBgTransparent_large a:hover {
	color:#F00;
	text-decoration:underline;
}
/*textBlackBgTransparent*/
.magic_slider_textBlackBgTransparent_small {
	font-family: Arial;
	font-size:12px;
	line-height:12px;
	font-weight:bold;
	color:#000;
	background:none;
	padding:0;
	margin:0;
}
.magic_slider_textBlackBgTransparent_small a {
	color:#000;
	text-decoration:underline;
}
.magic_slider_textBlackBgTransparent_small a:hover {
	color:#F00;
	text-decoration:underline;
}
.magic_slider_textBlackBgTransparent_medium {
	font-family: Arial;
	font-size:22px;
	line-height:22px;
	font-weight:normal;
	color:#000;
	background:none;
	padding:0;
	margin:0;
}
.magic_slider_textBlackBgTransparent_medium a {
	color:#000;
	text-decoration:underline;
}
.magic_slider_textBlackBgTransparent_medium a:hover {
	color:#F00;
	text-decoration:underline;
}
.magic_slider_textBlackBgTransparent_large {
	font-family: Arial;
	font-size:36px;
	line-height:36px;
	font-weight:normal;
	color:#000;
	background:none;
	padding:0;
	margin:0;
}
.magic_slider_textBlackBgTransparent_large a {
	color:#000;
	text-decoration:underline;
}
.magic_slider_textBlackBgTransparent_large a:hover {
	color:#F00;
	text-decoration:underline;
}
/*textRedBgTransparent*/
.magic_slider_textRedBgTransparent_small {
	font-family: Arial;
	font-size:12px;
	line-height:12px;
	font-weight:bold;
	color:#F00;
	background:none;
	padding:0;
	margin:0;
}
.magic_slider_textRedBgTransparent_small a {
	color:#F00;
	text-decoration:underline;
}
.magic_slider_textRedBgTransparent_small a:hover {
	color:#000;
	text-decoration:underline;
}
.magic_slider_textRedBgTransparent_medium {
	font-family: Arial;
	font-size:22px;
	line-height:22px;
	font-weight:normal;
	color:#F00;
	background:none;
	padding:0;
	margin:0;
}
.magic_slider_textRedBgTransparent_medium a {
	color:#F00;
	text-decoration:underline;
}
.magic_slider_textRedBgTransparent_medium a:hover {
	color:#000;
	text-decoration:underline;
}
.magic_slider_textRedBgTransparent_large {
	font-family: Arial;
	font-size:36px;
	line-height:36px;
	font-weight:normal;
	color:#F00;
	background:none;
	padding:0;
	margin:0;
}
.magic_slider_textRedBgTransparent_large a {
	color:#F00;
	text-decoration:underline;
}
.magic_slider_textRedBgTransparent_large a:hover {
	color:#000;
	text-decoration:underline;
}
/*textBlueBgTransparent*/
.magic_slider_textBlueBgTransparent_small {
	font-family: Arial;
	font-size:12px;
	line-height:12px;
	font-weight:bold;
	color:#00F;
	background:none;
	padding:0;
	margin:0;
}
.magic_slider_textBlueBgTransparent_small a {
	color:#00F;
	text-decoration:underline;
}
.magic_slider_textBlueBgTransparent_small a:hover {
	color:#F00;
	text-decoration:underline;
}
.magic_slider_textBlueBgTransparent_medium {
	font-family: Arial;
	font-size:22px;
	line-height:22px;
	font-weight:normal;
	color:#00F;
	background:none;
	padding:0;
	margin:0;
}
.magic_slider_textBlueBgTransparent_medium a {
	color:#00F;
	text-decoration:underline;
}
.magic_slider_textBlueBgTransparent_medium a:hover {
	color:#F00;
	text-decoration:underline;
}
.magic_slider_textBlueBgTransparent_large {
	font-family: Arial;
	font-size:36px;
	line-height:36px;
	font-weight:normal;
	color:#00F;
	background:none;
	padding:0;
	margin:0;
}
.magic_slider_textBlueBgTransparent_large a {
	color:#00F;
	text-decoration:underline;
}
.magic_slider_textBlueBgTransparent_large a:hover {
	color:#F00;
	text-decoration:underline;
}